﻿@model Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.KartaDoPdfModel

@{
    ViewBag.Title = "Karta przedmiotu";
    Layout = null;
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 3px;
    }

    tr, td {
        page-break-inside: avoid !important;
    }
</style>


<div id="sekcjaNr1">
    <table style="width:800px; table-layout:fixed">
        <tr>
            <th>
                <p style="text-align: left">
                    Wydział&nbsp;
                    @Html.DisplayFor(model => model.Wydzial)
                </p>
                <p style="text-align:center">KARTA PRZEDMIOTU</p>
                <p style="text-align: left">
                    Nazwa w języku polskim&nbsp;
                    @Html.DisplayFor(model => model.NazwaPrzedmiotuPL)
                    <br />
                    Nazwa w języku angielskim&nbsp;
                    @Html.DisplayFor(model => model.NazwaPrzedmiotuEN)
                    <br />
                    Kierunek studiów (jeśli dotyczy):&nbsp;
                    @Html.DisplayFor(model => model.KierunekStudiow.Wartosc)
                    <br />
                    Specjalność (jeśli dotyczy):&nbsp;
                    @Html.DisplayFor(model => model.Specjalnosc)
                    <br />
                    Stopień studiów i forma:&nbsp;
                    @Html.DisplayFor(model => model.StopienStudiow.Wartosc)
                    ,&nbsp;
                    @Html.DisplayFor(model => model.FormaStudiow)
                    <br />
                </p>
                <p style="text-align: left">
                    Rodzaj przedmiotu:&nbsp;
                    @Html.DisplayFor(model => model.RodzajPrzedmiotu)
                </p>
                <p style="text-align: left">
                    Kod przedmiotu:&nbsp;
                    @Html.DisplayFor(model => model.KodPrzedmiotu)
                </p>
                <p style="text-align: left">
                    Grupa kursów:&nbsp;
                    @if (Convert.ToBoolean(Model.GrupaKursow))
                    {
                        @Html.Raw("TAK")
                    }
                    else
                    {
                        @Html.Raw("NIE")
                    }
                </p>
            </th>
        </tr>
    </table>
    <br /><br /><br />
</div>

<div id="sekcjaNr2">
    <table style="width:800px; table-layout:fixed">
        <tr>
            <td style="width:20%"></td>
            <td style="width:16%">Wykład</td>
            <td style="width:16%">Ćwiczenia</td>
            <td style="width:16%">Laboratorium</td>
            <td style="width:16%">Projekt</td>
            <td style="width:16%">Seminarium</td>
        </tr>
        <tr>
            <td style="width:23%">
                Liczba godzin zajęć zorganizowanych w Uczelni<br />(ZZU)
            </td>
            <td>
                @Html.DisplayFor(model => model.wZZU)
            </td>
            <td>
                @Html.DisplayFor(model => model.cZZU)
            </td>
            <td>
                @Html.DisplayFor(model => model.lZZU)
            </td>
            <td>
                @Html.DisplayFor(model => model.pZZU)
            </td>
            <td>
                @Html.DisplayFor(model => model.sZZU)
            </td>
        </tr>
        <tr>
            <td style="width:23%">
                Liczba godzin całkowitego nakładu pracy studenta<br />(CNPS)
            </td>
            <td>
                @Html.DisplayFor(model => model.wCNPS)
            </td>
            <td>
                @Html.DisplayFor(model => model.cCNPS)
            </td>
            <td>
                @Html.DisplayFor(model => model.lCNPS)
            </td>
            <td>
                @Html.DisplayFor(model => model.pCNPS)
            </td>
            <td>
                @Html.DisplayFor(model => model.sCNPS)
            </td>
        </tr>
        <tr>
            <td>Forma zaliczenia</td>
            <td>
                @Html.DisplayFor(model => model.wZaliczenie)
            </td>
            <td>
                @Html.DisplayFor(model => model.cZaliczenie)
            </td>
            <td>
                @Html.DisplayFor(model => model.lZaliczenie)
            </td>
            <td>
                @Html.DisplayFor(model => model.pZaliczenie)
            </td>
            <td>
                @Html.DisplayFor(model => model.sZaliczenie)
            </td>
        </tr>
        <tr>
            <td>
                Dla grupy kursów zaznaczyć kurs końcowy (X)
            </td>
            <td>
                @if (Model.wKoncowy)
                {
                    @Html.Raw("X");
                }
            </td>

            <td>
                @if (Model.cKoncowy)
                {
                    @Html.Raw("X");
                }
            </td>
            <td>
                @if (Model.lKoncowy)
                {
                    @Html.Raw("X");
                }
            </td>
            <td>
                @if (Model.pKoncowy)
                {
                    @Html.Raw("X");
                }
            </td>
            <td>
                @if (Model.sKoncowy)
                {
                    @Html.Raw("X");
                }
            </td>
        </tr>
        <tr>
            <td>Liczba punktów ECTS</td>
            <td>
                @Html.DisplayFor(model => model.wECTS)
            </td>
            <td>
                @Html.DisplayFor(model => model.cECTS)
            </td>
            <td>
                @Html.DisplayFor(model => model.lECTS)
            </td>
            <td>
                @Html.DisplayFor(model => model.pECTS)
            </td>
            <td>
                @Html.DisplayFor(model => model.sECTS)
            </td>
        </tr>
        <tr>
            <td align="right">
                w tym liczba punktów odpowiadająca zajęciom<br /><br />o charakterze praktycznym (P)
            </td>
            <td>
                @Html.DisplayFor(model => model.wP)
            </td>
            <td>
                @Html.DisplayFor(model => model.cP)
            </td>
            <td>
                @Html.DisplayFor(model => model.lP)
            </td>
            <td>
                @Html.DisplayFor(model => model.pP)
            </td>
            <td>
                @Html.DisplayFor(model => model.sP)
            </td>
        </tr>
        <tr>
            <td align="right">
                w tym liczba punktów ECTS odpowiadająca zajęciom wymagającym bezpośredniego kontaktu (BK)
            </td>
            <td>
                @Html.DisplayFor(model => model.wBK)
            </td>
            <td>
                @Html.DisplayFor(model => model.cBK)
            </td>
            <td>
                @Html.DisplayFor(model => model.lBK)
            </td>
            <td>
                @Html.DisplayFor(model => model.pBK)
            </td>
            <td>
                @Html.DisplayFor(model => model.sBK)
            </td>
        </tr>
    </table>
    <br /><br /><br />
</div>

<div id="sekcjaNr3">
    <table style="width:800px; table-layout:fixed">
        <tr>
            <td align="center">
                <b>WYMAGANIA WSTĘPNE W ZAKRESIE WIEDZY, UMIEJĘTNOŚCI I INNYCH KOMPETENCJI</b>
                <p style="text-align:left">
                    @{
                        //int i = 1; POSORTOWAĆ
                        foreach (var item in Model.WymaganiaWstepne)
                        {
                            @Html.Raw(item.NrWymagania + ". ")
                            @Html.Raw(item.OpisWymagania + "<br/>")
                            //i++;
                        }
                    }
                </p>
            </td>
        </tr>
    </table>
    <br /><br /><br />
</div>

<div id="sekcjaNr4">
    <table style="width:800px; table-layout:fixed">
        <tr>
            <td align="center">
                <b>CELE PRZEDMIOTU</b><br /><br />
                <p style="text-align:left">
                    @{
                        //i = 1; POSORTOWAĆ
                        foreach (var item in Model.CelePrzedmiotu)
                        {
                            @Html.Raw("C" + item.NrCelu + ". ")
                            @Html.Raw(item.OpisCelu + "<br/><br/>")
                            //i++;
                        }
                    }
                </p>
            </td>
        </tr>
    </table>
    <br /><br /><br />
</div>

<div id="sekcjaNr5">
    <table style="width:800px; table-layout:fixed">
        <tr>
            <td align="center">
                <b>PRZEDMIOTOWE EFEKTY KSZTAŁCENIA</b><br /><br />
                <p style="text-align:left">Z zakresu wiedzy:</p>
                <p style="text-align:left">
                    @{
                        //i = 1; POSORTOWAĆ
                        foreach (var item in Model.PEKiW)
                        {
                            if (Convert.ToInt32(item.NrPek) < 10)
                            {
                                @Html.Raw("PEK_W0" + item.NrPek + " - ")
                            }
                            else
                            {
                                @Html.Raw("PEK_W" + item.NrPek + " - ")
                            }
                            @Html.Raw(item.Opis + "<br/><br/>")
                            //i++;
                        }
                    }
                </p><br />
                <p style="text-align:left">Z zakresu umiejętności:</p>
                <p style="text-align:left">
                    @{
                        //i = 1; POSORTOWAĆ
                        foreach (var item in Model.PEKiU)
                        {
                            if (Convert.ToInt32(item.NrPek) < 10)
                            {
                                @Html.Raw("PEK_U0" + item.NrPek + " - ")
                            }
                            else
                            {
                                @Html.Raw("PEK_U" + item.NrPek + " - ")
                            }

                            @Html.Raw(item.Opis + "<br/><br/>")
                            //i++;
                        }
                    }
                </p><br />
                <p style="text-align:left">Z zakresu kompetencji społecznych:</p>
                <p style="text-align:left">
                    @{
                        //i = 1; POSORTOWAĆ
                        foreach (var item in Model.PEKiK)
                        {
                            if (Convert.ToInt32(item.NrPek) < 10)
                            {
                                @Html.Raw("PEK_K0" + item.NrPek + " - ")
                            }
                            else
                            {
                                @Html.Raw("PEK_K" + item.NrPek + " - ")
                            }

                            @Html.Raw(item.Opis + "<br/><br/>")
                            //i++;
                        }
                    }
                </p><br />
            </td>
        </tr>
    </table>
    <br /><br /><br />
</div>

<div id="sekcjaNr6">
    <table style="width:800px; table-layout:fixed">
        <tr>
            <td align="center" style="border-bottom:hidden"><b>TREŚCI PROGRAMOWE</b></td>
        </tr>
    </table>

    @if (Model.TrescWyklady != null && Model.TrescWyklady.Count != 0)
    {
        int suma = 0;
        //i = 1; POSORTOWAĆ
        <table style="width:800px">
            <tr>
                <td align="center" style="width:86%" colspan="2"><b>Forma zajęć - wykład</b></td>
                <td align="center"><b>Liczba godzin</b></td>
            </tr>
            @foreach (var item in Model.TrescWyklady)
            {
                <tr>
                    <td style="width:6%">
                        @Html.Raw("Wy" + item.NrTresci)
                    </td>
                    <td style="width:80%">
                        @Html.Raw(item.OpisTresci)
                    </td>
                    <td>
                        @Html.Raw(item.LiczbaGodz)
                    </td>
                </tr>
                suma += item.LiczbaGodz;
                //i++;
            }
            <tr>
                <td></td>
                <td>Suma godzin</td>
                <td>
                    @Html.Raw(suma.ToString())
                </td>
            </tr>
        </table>
        <br /><br /><br />
    }

    <!--jeśli istnieje - to samo dla wykładów i każdego innego typu-->
    @if (Model.TrescCwiczenia != null && Model.TrescCwiczenia.Count != 0)
    {
        int suma = 0;
        //i = 1; POSORTOWAĆ
        <table style="width:800px">
            <tr>
                <td align="center" style="width:86%" colspan="2"><b>Forma zajęć - ćwiczenia</b></td>
                <td align="center"><b>Liczba godzin</b></td>
            </tr>
            @foreach (var item in Model.TrescCwiczenia)
            {
                <tr>
                    <td style="width:6%">
                        @Html.Raw("Cw" + item.NrTresci)
                    </td>
                    <td style="width:80%">
                        @Html.Raw(item.OpisTresci)
                    </td>
                    <td>
                        @Html.Raw(item.LiczbaGodz)
                    </td>
                </tr>
                suma += item.LiczbaGodz;
                //i++;
            }
            <tr>
                <td></td>
                <td>Suma godzin</td>
                <td>
                    @Html.Raw(suma.ToString())
                </td>
            </tr>
        </table>
        <br /><br /><br />
    }

    @if (Model.TrescLaboratorium != null && Model.TrescLaboratorium.Count != 0)
    {
        int suma = 0;
        //i = 1; POSORTOWAĆ
        <table style="width:800px">
            <tr>
                <td align="center" style="width:86%" colspan="2"><b>Forma zajęć - laboratorium</b></td>
                <td align="center"><b>Liczba godzin</b></td>
            </tr>
            @foreach (var item in Model.TrescLaboratorium)
            {
                <tr>
                    <td style="width:6%">
                        @Html.Raw("La" + item.NrTresci)
                    </td>
                    <td style="width:80%">
                        @Html.Raw(item.OpisTresci)
                    </td>
                    <td>
                        @Html.Raw(item.LiczbaGodz)
                    </td>
                </tr>
                suma += item.LiczbaGodz;
                //i++;
            }
            <tr>
                <td></td>
                <td>Suma godzin</td>
                <td>
                    @Html.Raw(suma.ToString())
                </td>
            </tr>
        </table>
        <br /><br /><br />
    }

    @if (Model.TrescProjekt != null && Model.TrescProjekt.Count != 0)
    {
        int suma = 0;
        //i = 1; POSORTOWAĆ
        <table style="width:800px">
            <tr>
                <td align="center" style="width:86%" colspan="2"><b>Forma zajęć - projekt</b></td>
                <td align="center"><b>Liczba godzin</b></td>
            </tr>
            @foreach (var item in Model.TrescProjekt)
            {
                <tr>
                    <td style="width:6%">
                        @Html.Raw("Pr" + item.NrTresci)
                    </td>
                    <td style="width:80%">
                        @Html.Raw(item.OpisTresci)
                    </td>
                    <td>
                        @Html.Raw(item.LiczbaGodz)
                    </td>
                </tr>
                suma += item.LiczbaGodz;
                //i++;
            }
            <tr>
                <td></td>
                <td>Suma godzin</td>
                <td>
                    @Html.Raw(suma.ToString())
                </td>
            </tr>
        </table>
        <br /><br /><br />
    }

    @if (Model.TrescSeminarium != null && Model.TrescSeminarium.Count != 0)
    {
        int suma = 0;
        //i = 1; POSORTOWAĆ
        <table style="width:800px">
            <tr>
                <td align="center" style="width:86%" colspan="2"><b>Forma zajęć - seminarium</b></td>
                <td align="center"><b>Liczba godzin</b></td>
            </tr>
            @foreach (var item in Model.TrescSeminarium)
            {
                <tr>
                    <td style="width:6%">
                        @Html.Raw("Se" + item.NrTresci)
                    </td>
                    <td style="width:80%">
                        @Html.Raw(item.OpisTresci)
                    </td>
                    <td>
                        @Html.Raw(item.LiczbaGodz)
                    </td>
                </tr>
                suma += item.LiczbaGodz;
                //i++;
            }
            <tr>
                <td></td>
                <td>Suma godzin</td>
                <td>
                    @Html.Raw(suma.ToString())
                </td>
            </tr>
        </table>
        <br /><br /><br />
    }
</div>

<div id="sekcjaNr7">
    <table style="width:800px; table-layout:fixed">
        <tr>
            <td align="center"><b>STOSOWANE NARZĘDZIA DYDAKTYCZNE</b></td>
        </tr>
        <tr>
            <td>
                @{
                    //i = 1;
                    foreach (var item in Model.Narzedzia)
                    {
                        @Html.Raw("N" + item.NrNarzedzia + ". ")
                        @Html.Raw(item.OpisNarzedzia + "<br/><br/>")
                        //i++;
                    }
                }
            </td>
        </tr>
    </table><br />
</div>

<div id="sekcjaNr8">
    <table style="width:800px; table-layout:fixed">
        <tr><td style="text-align:center; border:hidden"><b>OCENA OSIĄGNIĘCIA PRZEDMIOTOWYCH EFEKTÓW KSZTAŁCENIA</b></td></tr>
    </table><br />

    <table style="width:800px; table-layout:fixed">
        <tr>
            <td style="width:28%"><b>Oceny&nbsp;</b>F - formująca(w trakcie semestru), P - podsumowująca (na koniec semestru)</td>
            <td style="width:28%">Numer efektu kształcenia</td>
            <td>Sposób oceny osiągnięcia efektu kształcenia</td>
        </tr>
        @{
            for (int i = 0; i < Model.OcenyPEKF.Count(); i++)
            {
                <tr>
                    <td>
                        @if (Model.OcenyPEKF.Count() <= 1)
                        {
                            @Html.Raw("F")
                        }
                        else
                        {
                            @Html.Raw("F" + Model.OcenyPEKF[i].NrOceny.ToString())
                        }
                    </td>
                    <td>
                        @foreach (var pek in Model.PEKOcenyF[i])
                        {
                            string result = "PEK_" + (Model.TypEfektu.Find(t => t.Id == pek.TypEfektuId)).Kod;

                            if (Convert.ToInt32(pek.NrPek) < 10)
                            {
                                result += "0";
                            }

                            result += pek.NrPek;

                            @Html.Raw(result + " ");
                        }
                    </td>
                    <td>
                        @Html.Raw(Model.OcenyPEKF[i].SposobOsiagnieciaEfektu)
                    </td>
                </tr>
            }

            for (int i = 0; i < Model.OcenyPEKP.Count(); i++)
            {
                <tr>
                    <td>
                        @if (Model.OcenyPEKP.Count() <= 1)
                        {
                            @Html.Raw("P")
                        }
                        else
                        {
                            @Html.Raw("P" + Model.OcenyPEKP[i].NrOceny.ToString())
                        }
                    </td>
                    <td>
                        @foreach (var pek in Model.PEKOcenyP[i])
                        {
                            string result = "PEK_" + (Model.TypEfektu.Find(t => t.Id == pek.TypEfektuId)).Kod;

                            if (Convert.ToInt32(pek.NrPek) < 10)
                            {
                                result += "0";
                            }

                            result += pek.NrPek;

                            @Html.Raw(result + " ");
                        }
                    </td>
                    <td>
                        @Html.Raw(Model.OcenyPEKP[i].SposobOsiagnieciaEfektu)
                    </td>
                </tr>
            }
        }
    </table><br /><br />
</div>

<div id="sekcjaNr9">
    <table style="width:800px; table-layout:fixed">
        <tr>
            <td align="center"><b>LITERATURA PODSTAWOWA I UZUPEŁNIAJĄCA</b></td>
        </tr>
        <tr>
            <td>
                <b><u>LITERATURA PODSTAWOWA:</u></b><br />
                <p>
                    @{
                        int n = 0;
                        foreach (var item in Model.LiteraturaPodst)
                        {
                            @Html.Raw("[" + (n + 1) + "] ")

                            foreach (var autor in Model.LiteraturaPodstAutorzy[n])
                            {
                                @Html.Raw(autor.Imie + " " + autor.Nazwisko + ", ")
                            }

                            @Html.Raw(item.Tytul + ", " + Model.LiteraturaPodstWydawca[n] + ", " + item.RokWydania + ".</br></br>")
                            n++;
                        }
                    }
                </p><br />
                <b><u>LITERATURA UZUPEŁNIAJĄCA:</u></b><br />
                <p>
                    @{
                        n = 0;
                        foreach (var item in Model.LiteraturaUzup)
                        {
                            @Html.Raw("[" + (n + 1) + "] ")

                            foreach (var autor in Model.LiteraturaUzupAutorzy[n])
                            {
                                @Html.Raw(autor.Imie + " " + autor.Nazwisko + ", ")
                            }

                            @Html.Raw(item.Tytul + ", " + Model.LiteraturaUzupWydawca[n] + ", " + item.RokWydania + ".</br></br>")
                            n++;
                        }
                    }
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <b>OPIEKUN PRZEDMIOTU (IMIĘ, NAZWISKO, ADRES E-MAIL)</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.Raw(Model.AutorImie + " " + Model.AutorNazwisko + ", " + Model.AutorEmail)
            </td>
        </tr>
    </table><br /><br />
</div>

<div id="sekcjaNr10">
    <table style="width:800px; table-layout:fixed">
        <tr>
            <td style="text-align:center; border:hidden">
                MACIERZ POWIĄZANIA EFEKTÓW KSZTAŁCENIA DLA PRZEDMIOTU
            </td>
        </tr>
        <tr>
            <td style="text-align:center; border:hidden">
                @Html.Raw("<b>" + Model.NazwaPrzedmiotuPL + "</b>")
            </td>
        </tr>
        <tr>
            <td style="text-align:center; border:hidden">
                Z EFEKTAMI KSZTAŁCENIA NA KIERUNKU
                @Html.Raw("<b>" + Model.KierunekStudiow.Wartosc + "</b>")
            </td>
        </tr>
        <tr>
            <td style="text-align:center; border:hidden">
                I SPECJALNOŚCI
                @Html.Raw("<b>" + Model.Specjalnosc + "</b>")
            </td>
        </tr>
    </table><br />

    <table style="width:800px; table-layout:fixed">
        <tr>
            <td style="width:15%; text-align:center">Przedmiotowy efekt kształcenia</td>
            <td style="width:31%; text-align:center"><b>Odniesienie przedmiotowego efektu do efektów kształcenia zdefiniowanych dla kierunku studiów i specjalności (o ile dotyczy)</b></td>
            <td style="width:18%; text-align:center"><b>Cele przedmiotu</b></td>
            <td style="width:18%; text-align:center"><b>Treści programowe</b></td>
            <td style="text-align:center"><b>Numer narzędzia dydaktycznego</b></td>
        </tr>
        @{
            n = 0;
            foreach (var item in Model.PEKi)
            {
                string result = "PEK_" + (Model.TypEfektu.Find(t => t.Id == item.TypEfektuId)).Kod;
                <tr>
                    <td style="text-align:center">
                        @if (Convert.ToInt32(item.NrPek) < 10)
                        {
                            result += "0";
                        }
                        @Html.Raw(result + item.NrPek)
                    </td>
                    <td style="text-align:center">
                        @foreach (var kek in Model.MPkeki[n])
                        {
                            @Html.Raw("K" + Model.StopienStudiow.Kod + Model.KierunekStudiow.Kod + "_" +
                                 Model.TypEfektu.Find(t => t.Id == kek.TypEfektuId).Kod)

                            if (Convert.ToInt32(kek.NrKek) < 10)
                            {
                                @Html.Raw("0")
                            }
                            @Html.Raw(kek.NrKek + " ")
                        }
                    </td>
                    <td style="text-align:center">
                        @foreach (var cel in Model.MPcele[n])
                        {
                            @Html.Raw("C" + cel.NrCelu + " ")
                        }
                    </td>
                    <td style="text-align:center">
                        @foreach (var tresc in Model.MPtresci[n])
                        {
                            @Html.Raw(Model.TypPrzedmiotu.Find(t => t.Id == tresc.TypPrzedmiotuId).Kod + tresc.NrTresci + " ")
                        }
                    </td>
                    <td style="text-align:center">
                        @foreach (var narzedzie in Model.MPnarzedzia[n])
                        {
                            @Html.Raw("N" + narzedzie.NrNarzedzia + " ")
                        }
                    </td>
                </tr>
                        n++;
            }
        }
    </table>
</div>