﻿.ekp-container {
    background-color: #fff;
    margin: 10px;
    padding: 20px 10px;
}

.ekp-container-btn {
    text-align: right;
}

.ekp-well {
    color: #fff;
    background-color: #337ab7;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 100%;
}

.ekp-well-second {
    color: #31708f;
    background-color: #d9edf7;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 100%;
}

.ekp-well-third {
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 20px;
    width: 100%;
}

.ekp-list-link {
    font-weight: bold;
    color: #353535;
}

.ekp-header-text {
    color: #31708f;
}

.ekp-space-after-btn {
    margin-right: 10px;
}

.ekp-dynamic-row {
    width: 100%;
    margin-bottom: 5px;
}
