﻿html, body {
    height: 100%;
}

body {
    padding-bottom: 20px;
    background-color: #edf0f0;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    /*max-width: 280px;*/
}

tr[data-href] {
    cursor: pointer;
}

.tooltip-wrapper {
    display: inline-block;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.btn .glyphicon {
    margin-right: 6px;
}

#change-page-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 4;
}

#change-page-overlay > .glyphicon-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    font-size: 100px;
}

.panel .list-group .list-group {
    margin-bottom: 0;
}

.groups-table > tbody > tr > td:first-child {
    padding-left: 50px;
}

.groups-table > tbody > tr > .table-course-header:first-child {
    padding-left: 8px;
    font-size: 18px;
    font-weight: bold;
}

.groups-table > tbody > tr > .table-course-type-header:first-child {
    padding-left: 20px;
    font-weight: bold;
}

#nav-panel {
    position: fixed;
    width: 230px;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #303946;
}

#nav-panel, header, #activities-panel {
    z-index: 5;
}

#nav-panel.collapsed {
    position: absolute;
    bottom: 0;
    overflow: visible !important;
}
    
#nav-panel.lg {
    width: 250px;
}

#nav-panel.lg ~ .content {
    margin-left: 250px;
}

.navigation {
    margin: 50px 0 20px;
}

.navigation > ul > li {
    position: relative;
}

.navigation > ul > li.active.has-submenu:after,
.navigation > ul > li.has-submenu:hover:after {
    color: #fff;
    background-color: #1c2128;
}

.navigation > ul > li > a {
    display: block;
    padding: 15px 25px;
    color: #b4b6bd;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    outline: none !important;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.navigation > ul > li > a:hover {
    color: #fff;
    background-color: #1c2128;
}

.navigation > ul > li.active:hover > a,
.navigation > ul > li.active > a {
    color: #fff;
    background: #1c2128;
}

.navigation ul li a .glyphicon {
    float: left;
    width: 25px;
    margin-right: 6px;
    font-size: 18px;
}

.navigation ul li a .nav-label {
    vertical-align: middle;
}

.collapsed .navigation ul li a .glyphicon {
    float: none;
}

.navigation ul li ul {
    display: none;
    padding-bottom: 10px;
    background-color: #1c2128;
}

aside:not(.collapsed) .navigation ul li.active ul {
    display: block;
}

.navigation ul li ul li a {
    display: block;
    padding: 8px 25px 8px 55px;
    color: #b4b6bd;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    text-align: left;
    border-left: 0 solid #75798b;
    outline: none !important;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.navigation ul li ul li a:hover {
    color: #ddd;
}

.navigation ul li ul li.active a {
    color: #fff !important;
}

header .dropdown-notification {    
    padding-top: 0;
    padding-bottom: 0;
}

header .dropdown-notification > .dropdown-menu-header, header .dropdown-notification > .view-all {
    text-align: center;
    background: #f7f9fe;
    border-top: 1px solid #e3e3e3;
}

header .dropdown-notification > .dropdown-menu-header {
    padding: 10px;
    font-weight: bold;
    border-top: none;
    border-bottom: 1px solid #e3e3e3;
}

header .dropdown-notification .notifications-spiner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

header .dropdown-notification .notifications-spiner > .glyphicon {
    margin-top: -25px;
    top: 50%;
    font-size: 50px;
}

#activities-panel {
    position: fixed;
    display: block;
    float: right;
    width: 210px;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: 68px;
    background: #fff;
    border-left: 1px solid #e3e3e3;
}

#activities-panel .list-group-item {
    border: none;
    border-top: 1px solid #e3e3e3;
}

#activities-panel .list-group-item:first-child {
    padding: 0;
    border: none;
}

#activities-panel .list-group-item:last-child {
    border-bottom: 1px solid #e3e3e3;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#activities-panel .list-group-item-heading {
    display: block;
    margin-bottom: 0;
    padding: 10px 15px;
    color: #337ab7;
    background: #f7f9fe;
}

#activities-panel .list-group-item-heading:hover {
    text-decoration: none;
    background: #f5f5f5;
}

#activities-panel .list-group-item > span, #all-activities-panel .list-group-item > span {
    display: block;
    font-size: 13px;
    font-style: italic;
    color: #a6a6a6;
}

#all-activities-panel .list-group-item-info {
    font-weight: bold;
}

#content {
    margin-left: 230px;
}

#nav-panel.with-activities-panel ~ #content {
    margin-right: 210px;
}

header {
    position: fixed;
    padding: 4px 15px;
    right: 0;
    left: 230px;
    background-color: #ffffff;
    border-bottom: 5px solid #ececee;
    z-index: 6;
}

footer {
    padding: 10px;
    margin-left: 230px;
}

#nav-panel.collapsed ~ #content > header {
    left: 75px;
}

#nav-panel.collapsed ~ footer {
    margin-left: 75px;
}

.navbar-toggle {
    display: block;
    margin: 8px 20px 8px 0;
}

header .navbar-toggle {
    float: left;
}

#nav-panel .navbar-toggle {
    float: right;
}

.navbar-toggle .icon-bar {
    background-color: #b3b3be;
}

#breadcrumbs {
    float: left;
}

header .navbar-nav > li > a {
    color: #333;
}

header .navbar-nav > li > a .badge {
    position: absolute;
    padding: 3px 5px 2px;
    top: 6px;
    right: 6px;
    font-size: 11px;
    background-color: #db5565;
}

header .navbar-left {
    float: left;
}

header .navbar-right {
    float: right;
}

header > .nav-panel-toggle {
    display: none;
}

#logo {
    display: inline-block;
    padding: 10px;
}

#nav-panel.collapsed #logo img {
    width: 50px;
}

/*** Aside Collapsed ***/
@media (min-width: 769px) {
    #nav-panel.collapsed {
        width: 75px;
        text-align: center;
    }

    #nav-panel.collapsed ~ #content {
        margin-left: 75px;
    }

    #nav-panel.collapsed .user .user-login,
    #nav-panel.collapsed span.nav-label {
        display: none;
    }

    #nav-panel.collapsed .navigation > ul > li > a {
        padding: 20px;
    }

    #nav-panel.collapsed .glyphicon.fa {
        font-size: 22px;
    }

    #nav-panel.collapsed .navigation > ul > li.has-submenu:after {
        display: none;
    }
}

/*** Aside Collapsed Sub Menu ***/
@media (min-width: 769px) {
    #nav-panel.collapsed .navigation ul li ul {
        position: absolute;
        min-width: 200px;
        padding: 10px 0px;
        top: 0;
        left: 100%;
        background-color: #162338;
        box-shadow: none;
        z-index: 3;
    }

    #nav-panel.collapsed .navigation > ul > li:hover > ul {
        display: block !important;
    }

    #nav-panel.collapsed .navigation ul li ul li a {
        padding: 8px 25px 8px 40px;
        color: #b4b6bd;
        border: 0;
    }

    #nav-panel.collapsed .navigation ul li ul li a:hover {
        color: #fff;
    }
}

@media (max-width: 768px) {
    #nav-panel.collapsed {
        width: 250px;
        left: 0;
        overflow: hidden !important;
    }

    #nav-panel.collapsed ~ #content {
        margin-left: 0;
        transform: translate3d(250px, 0px, 0px);
        -ms-transform: translate3d(250px, 0px, 0px);
        -webkit-transform: translate3d(250px, 0px, 0px);
        -moz-transition: translate3d(250px, 0px, 0px);
        -o-transition: translate3d(250px, 0px, 0px);
    }

    #nav-panel {
        left: 100%;
    }

    header, #nav-panel.collapsed ~ #content > header {
        left: 0;
    }

    #content, footer, #nav-panel.collapsed ~ footer {
        margin-left: 0;
    }

    header > .nav-panel-toggle {
        display: block;
    }

    #nav-panel.collapsed #logo img {
        width: auto;
    }

    header .navbar-nav li {
        float: left;
    }
}

.breadcrumb {
    float: left;
    margin-bottom: 0;
    background: none;
}

.breadcrumb > li > a, .breadcrumb > li > span {
    display: inline-block;
    padding: 6px 0;
    line-height: 1.42em;
}

#body {
    padding-top: 83px;
}

.grades-table > tbody > tr > td {
    vertical-align: middle;
}

.grades-table tr td:first-child {
    text-align: right;
}

.grades-table input[type="text"] {
    display: inline-block;
    width: 32px;
    height: 26px;
    padding: 2px 4px;
    text-align: right;
}


/* login page*/
.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .panel {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
