﻿@model List<Wspomaganie_dziekanatu.Models.VM.PowiadomienieProsteVM>

@if (@Model.Count > 0)
{
    foreach (var n in Model)
    {
        if (n.Status == 4)
        {
            <li>
                <a href="@(n.URL)">@(n.Tresc)</a>
            </li>
        }
        else
        {
            <li class="list-group-item-warning" data-notification-id="@(n.PowiadomienieId)" onclick="markNotificationAsRead(@(n.PowiadomienieId))">
                <a href="@(n.URL)">@(n.Tresc)</a>
            </li>
        }
    }
}
else
{
    <li>Brak powiadomień.</li>
}
