﻿@model List<Wspomaganie_dziekanatu.Models.VM.PowiadomienieVM>
@{
    ViewBag.Title = "Powiadomienia";
}

<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"><span class="sr-only">Strona główna</span></span></a>
        </li>
        <li>Powiadomienia</li>
    </ul>
    @Html.Partial("_LoginPartial")
</header>

<div id="body">
    <div class="panel panel-primary" id="all-notifications-panel">
        <div class="panel-heading">
            <h4>POWIADOMIENIA</h4>
        </div>
        <div class="panel-body">
            <button class="btn btn-success pull-right" onclick="markAllNotificationsAsRead()">Oznacz wszystkie jako przeczytne</button>
        </div>
        <div class="list-group">
            @if (@Model.Count > 0)
            {
                foreach (var n in Model)
                {
                    if (n.Status == 4)
                    {
                        <a href="@(n.URL)" class="list-group-item">
                            @(n.Tresc)
                            <span>@(n.DataDzien), @(n.DataMiesiac), @(n.DataGodzina)</span>
                        </a>
                    }
                    else
                    {
                        <a href="@(n.URL)" class="list-group-item list-group-item-warning" data-notification-id="@(n.PowiadomienieId)" onclick="markNotificationAsRead(@(n.PowiadomienieId))">
                            @(n.Tresc)
                            <span>@(n.DataDzien), @(n.DataMiesiac), @(n.DataGodzina)</span>
                        </a>
                    }
                }
            }
            else
            {
                <a class="list-group-item">Brak powiadomień.</a>
            }
            <!--a class="list-group-item list-group-item-warning" href="#">Powiaodmienie 1 - jest linkiem do np. grupy/obecności albo konkretnego raporu/listy raportów</a>
            <a class="list-group-item" href="#">Powiaodmienie 2 - kliknięcie w powiadomienie "odczytuje" je</a>
            <a class="list-group-item" href="/Reports">Jan Kulczyk przesyła Ci przypomnienie o raporcie FRP</a-->
        </div>
    </div>
</div>
