﻿@model Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.KartaPrzedmiotuVM

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Edytuj kartę przedmiotu";
}

<header class="container-fluid">
    @Html.Partial("~/Views/Shared/_NavbarToggleButton.cshtml")
    <ul class="breadcrumb">
        <li>
            <a href="/">
                <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
                <span class="sr-only">Strona główna</span>
            </a>
        </li>
        <li>
            @ViewBag.Title
        </li>
    </ul>
    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
</header>

<div id="body" class="container-fluid ekp-container">
    <div class="ekp-well">
        <h2>@ViewBag.Title</h2>
        <hr style="border-color: #fff" />
        <h3>@Html.DisplayFor(model => model.KodPrzedmiotu) @Html.DisplayFor(model => model.NazwaPrzedmiotuPOL)</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>@Html.LabelFor(model => model.Status)</dt>
                <dd>@Html.DisplayFor(model => model.Status)</dd>

                <dt>@Html.LabelFor(model => model.OpiekunPrzedmiotu)</dt>
                <dd>@Html.DisplayFor(model => model.OpiekunPrzedmiotu)</dd>

                <dt>@Html.LabelFor(model => model.DataUtworzenia)</dt>
                <dd>@Html.DisplayFor(model => model.DataUtworzenia)</dd>

                <dt>@Html.LabelFor(model => model.DataZaakceptowania)</dt>
                <dd>@Html.DisplayFor(model => model.DataZaakceptowania)</dd>

                <dt>@Html.LabelFor(model => model.WersjaJezykowa)</dt>
                <dd>@Html.DisplayFor(model => model.WersjaJezykowa)</dd>
            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container-fluid" style="margin-bottom: 40px;">
            <span class="btn btn-success col-md-2 ekp-space-after-btn" title="Zapisz zmiany">Zapisz zmiany</span>
            @Html.ActionLink("Anuluj", "Index", "Home", new { area = "" }, new { @class = "btn btn-danger col-md-2", @title = "Wróć do strony głównej" })
        </div>
        
        <div class="form-horizontal">
            
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Wydzial, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Wydzial, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Wydzial, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Studium, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Studium, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Studium, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NazwaPrzedmiotuPOL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NazwaPrzedmiotuPOL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NazwaPrzedmiotuPOL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NazwaPrzedmiotuENG, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NazwaPrzedmiotuENG, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NazwaPrzedmiotuENG, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KierunekStudiow, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KierunekStudiow, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KierunekStudiow, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Specjalnosc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Specjalnosc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Specjalnosc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StopienStudiow, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StopienStudiow, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StopienStudiow, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FormaStudiow, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FormaStudiow, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FormaStudiow, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RodzajPrzedmiotu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RodzajPrzedmiotu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RodzajPrzedmiotu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KodPrzedmiotu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KodPrzedmiotu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KodPrzedmiotu, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }

</div>