﻿@model Wspomaganie_dziekanatu.Models.ManageUserViewModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <p class="text-info">
        Nie masz lokalnej nazwy użytkownika i lokalnego hasła dla tej witryny. Dodaj konto
        lokalne, aby móc logować się bez logowania zewnętrznego.
    </p>
    @Html.AntiForgeryToken()

    <h4>Utwórz logowanie lokalne</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ustaw hasło" class="btn btn-default" />
        </div>
    </div>
}
