﻿
@{
    ViewBag.Title = "Dydaktyka";
}
<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <div id="breadcrumbs">
        HomePage &raquo; Dydaktyka
    </div>
    @Html.Partial("_LoginPartial")
</header>

<div id="body">
    <h2>Dydaktyka</h2>
    <p>stopeiń realizacji pek i kek</p>
</div>
