﻿@model Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.KartaPrzedmiotuVM

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Szczegóły karty przedmiotu";
    int kartaPrzedmiotuId = Model.Id;
    string urlPath = Url.Action("GetPDF", "KartaDoPdf", null, Request.Url.Scheme, null) + "/" + kartaPrzedmiotuId;
}

<header class="container-fluid">
    @Html.Partial("~/Views/Shared/_NavbarToggleButton.cshtml")
    <ul class="breadcrumb">
        <li>
            <a href="/">
                <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
                <span class="sr-only">Strona główna</span>
            </a>
        </li>
        <li>
            @ViewBag.Title
        </li>
    </ul>
    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
</header>

<div id="body" class="container-fluid ekp-container">

    <div class="ekp-well">
        <h2>@ViewBag.Title</h2>
        <hr style="border-color: #fff" />
        <h3>@Html.DisplayFor(model => model.KodPrzedmiotu) @Html.DisplayFor(model => model.NazwaPrzedmiotuPOL)</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>@Html.LabelFor(model => model.Status)</dt>
                <dd>@Html.DisplayFor(model => model.Status)</dd>

                <dt>@Html.LabelFor(model => model.OpiekunPrzedmiotu)</dt>
                <dd>@Html.DisplayFor(model => model.OpiekunPrzedmiotu)</dd>

                <dt>@Html.LabelFor(model => model.DataUtworzenia)</dt>
                <dd>@Html.DisplayFor(model => model.DataUtworzenia)</dd>

                <dt>@Html.LabelFor(model => model.DataZaakceptowania)</dt>
                <dd>@Html.DisplayFor(model => model.DataZaakceptowania)</dd>

                <dt>@Html.LabelFor(model => model.WersjaJezykowa)</dt>
                <dd>@Html.DisplayFor(model => model.WersjaJezykowa)</dd>
            </dl>
        </div>
    </div>

    <div class="container-fluid" style="margin-bottom: 40px;">
        @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-info col-md-2 ekp-space-after-btn", @title = "Wróć do widoku listy kart" })
        @Html.ActionLink("Zatwierdź kartę", "Accept", new { id = Model.Id }, new { @class = "btn btn-success col-md-2 ekp-space-after-btn", @title = "Zatwierdź kartę przedmiotu" })
        @Html.ActionLink("Odrzuć kartę", "Decline", new { id = Model.Id }, new { @class = "btn btn-danger col-md-2 ekp-space-after-btn", @title = "Nie zatwierdzaj karty przedmiotu" })
        <a href="@urlPath" class="btn btn-default col-md-2 ekp-space-after-btn" title="Zapisz kartę w pliku PDF">Eksportuj do PDF</a>
    </div>

    <div class="ekp-well-second">
        <h2>KARTA PRZEDMIOTU</h2>
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Wydzial)</dt>
            <dd>@Html.DisplayFor(model => model.Wydzial)</dd>

            <dt>@Html.DisplayNameFor(model => model.NazwaPrzedmiotuPOL)</dt>
            <dd> @Html.DisplayFor(model => model.NazwaPrzedmiotuPOL)</dd>

            <dt>@Html.DisplayNameFor(model => model.NazwaPrzedmiotuENG)</dt>
            <dd>@Html.DisplayFor(model => model.NazwaPrzedmiotuENG)</dd>

            @if (Model.KierunekStudiow != null)
            {
                <dt>@Html.DisplayNameFor(model => model.KierunekStudiow)</dt>
                <dd>@Html.DisplayFor(model => model.KierunekStudiow)</dd>
            }

            @if (Model.Specjalnosc != null)
            {
                <dt>@Html.DisplayNameFor(model => model.Specjalnosc)</dt>
                <dd>@Html.DisplayFor(model => model.Specjalnosc)</dd>
            }

            <dt>@Html.DisplayNameFor(model => model.StopienStudiow)</dt>
            <dd>@Html.DisplayFor(model => model.StopienStudiow)</dd>

            <dt>@Html.DisplayNameFor(model => model.FormaStudiow)</dt>
            <dd>@Html.DisplayFor(model => model.FormaStudiow)</dd>

            <dt>@Html.DisplayNameFor(model => model.RodzajPrzedmiotu)</dt>
            <dd>@Html.DisplayFor(model => model.RodzajPrzedmiotu)</dd>

            <dt>@Html.DisplayNameFor(model => model.KodPrzedmiotu)</dt>
            <dd>@Html.DisplayFor(model => model.KodPrzedmiotu)</dd>

            <dt>@Html.DisplayNameFor(model => model.GrupaKursow)</dt>
            <dd>@Html.DisplayFor(model => model.GrupaKursow)</dd>
        </dl>
    </div>

    <div>
        @{ Html.RenderAction("_Index", "TabelaPunktowGodzin", new { id = kartaPrzedmiotuId }); }
    </div>

    <div>
        @{ Html.RenderAction("_Index", "WymaganiaWstepne", new { id = kartaPrzedmiotuId }); }
    </div>

    <div>
        @{ Html.RenderAction("_Index", "CelePrzedmiotu", new { id = kartaPrzedmiotuId }); }
    </div>

    <div>
        @{ Html.RenderAction("_Index", "Pek", new { id = kartaPrzedmiotuId }); }
    </div>

    <div>
        @{ Html.RenderAction("_Index", "TresciProgramowe", new { id = kartaPrzedmiotuId }); }
    </div>

    <div>
        @{ Html.RenderAction("_Index", "NarzedziaDydaktyczne", new { id = kartaPrzedmiotuId }); }
    </div>

    <div>
        @{ Html.RenderAction("_Index", "OcenyOsiagniec", new { id = kartaPrzedmiotuId }); }
    </div>

    <div>
        @{ Html.RenderAction("_Index", "Literatura", new { id = kartaPrzedmiotuId }); }
    </div>

    <div>
        <div class="ekp-well-second">
            <h3>Opiekun przedmiotu</h3>
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>@Html.LabelFor(model => model.OpiekunPrzedmiotu)</dt>
                <dd>@Html.DisplayFor(model => model.OpiekunPrzedmiotu)</dd>

                <dt>@Html.LabelFor(model => model.EmailOpiekuna)</dt>
                <dd>@Html.DisplayFor(model => model.EmailOpiekuna)</dd>
            </dl>
        </div>
    </div>

    <div>
        @{ Html.RenderAction("_Index", "Macierz", new { id = kartaPrzedmiotuId }); }
    </div>

</div>
