﻿@model PagedList.IPagedList<Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.KartaPrzedmiotuVM>
@using PagedList.Mvc;

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Lista kart do zatwierdzenia";
    int lp = 1;
}

<header class="container-fluid">
    @Html.Partial("~/Views/Shared/_NavbarToggleButton.cshtml")
    <ul class="breadcrumb">
        <li>
            <a href="/">
                <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
                <span class="sr-only">Strona główna</span>
            </a>
        </li>
        <li>
            @ViewBag.Title
        </li>
    </ul>
    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
</header>

<div id="body" class="container-fluid ekp-container">

    <div class="ekp-well">
        <h2>@ViewBag.Title</h2>
        <div>
            Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
        </div>
    </div>

    @using (Html.BeginForm("Index", "KartyPrzedmiotow", FormMethod.Get))
    {
        <div class="input-group">
            <span class="input-group-addon">Wyszukaj: </span>
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" title="Wyszukaj">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    }

    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>

    <table class="table table-striped">
        <tr class="ekp-header-text" style="background-color: #d9edf7;">
            <th>
                <label>Lp.</label>
            </th>
            <th>
                <span class="glyphicon glyphicon-sort"></span>
                @Html.ActionLink("Kod przedmiotu", "Index", new { sortOrder = ViewBag.KodSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "ekp-header-text", @title = "Sortuj wg kodu przedmiotu" })
            </th>
            <th>
                <span class="glyphicon glyphicon-sort"></span>
                @Html.ActionLink("Nazwa przedmiotu", "Index", new { sortOrder = ViewBag.NazwaSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "ekp-header-text", @title = "Sortuj wg nazwy przedmiotu" })
            </th>
            <th>
                <span class="glyphicon glyphicon-sort"></span>
                @Html.ActionLink("Status karty", "Index", new { sortOrder = ViewBag.StatusSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "ekp-header-text", @title = "Sortuj wg statusu karty" })
            </th>
            <th>
                <span class="glyphicon glyphicon-sort"></span>
                @Html.ActionLink("Data utworzenia", "Index", new { sortOrder = ViewBag.DataSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "ekp-header-text", @title = "Sortuj wg daty utworzenia karty" })
            </th>
            <th>
                <span class="glyphicon glyphicon-sort"></span>
                @Html.ActionLink("Opiekun przedmiotu", "Index", new { sortOrder = ViewBag.OpiekunSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "ekp-header-text", @title = "Sortuj wg opiekuna przedmiotu" })
            </th>
            <th>
                <span class="glyphicon glyphicon-sort"></span>
                @Html.ActionLink("Język karty", "Index", new { sortOrder = ViewBag.JezykSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "ekp-header-text", @title = "Sortuj wg wersji językowej karty" })
            </th>
            <th></th>
        </tr>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayName((Model.PageNumber * Model.PageSize - Model.PageSize + lp++).ToString()).
                    </td>
                    <td>
                        @Html.ActionLink(item.KodPrzedmiotu, "Details", new { id = item.Id }, new { @class = "ekp-list-link", @title = "Wyświetl szczegóły karty przedmiotu" })
                    </td>
                    <td>
                        @Html.ActionLink(item.NazwaPrzedmiotuPOL, "Details", new { id = item.Id }, new { @class = "ekp-list-link", @title = "Wyświetl szczegóły karty przedmiotu" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataUtworzenia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpiekunPrzedmiotu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WersjaJezykowa)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Accept", new { id = item.Id, kod = item.KodPrzedmiotu }, new { @class = "btn btn-xs btn-info glyphicon glyphicon-ok", @onclick = "return confirm('Karta została aktywowana');", @title = "Zatwierdź kartę przedmiotu" })
                        @Html.ActionLink(" ", "Decline", new { id = item.Id }, new { @class = "btn btn-xs btn-danger glyphicon glyphicon-remove", @onclick = "return confirm('Karta została odrzucona');", @title = "Nie zatwierdzaj karty przedmiotu" })
                        @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-success glyphicon glyphicon-eye-open", @title = "Wyświetl szczegóły karty przedmiotu" })
                    </td>
                </tr>
            }
        }
    </table>

    @if (Model.Count < 1)
    {
        <div style="text-align: center;">
            <h4 class="text-danger">lista jest pusta</h4>
        </div>
    }

</div>
