﻿<tr>
    <th rowspan="3">Kod grupy</th>
    <th colspan="3">Liczba osób</th>
    <th colspan="8">Liczba ocen</th>
</tr>
<tr>
    <th>zapisanych na kurs</th>
    <th>uczestniczących w  egzaminie</th>
    <th>nie uczestniczących w  egzaminie</th>
    <th>cel</th>
    <th>bdb</th>
    <th>+db</th>
    <th>db</th>
    <th>+dst</th>
    <th>dst</th>
    <th>ndst</th>
    <th>pozytywnych</th>
</tr>
<tr>
    <th>Zk</th>
    <th>Z</th>
    <th>Zx = Zk-Z</th>
    <th>L6</th>
    <th>L5</th>
    <th>L4</th>
    <th>L3</th>
    <th>L2</th>
    <th>L1</th>
    <th>L0</th>
    <th>L</th>
</tr>
<tr>
    <th>[1]</th>
    <th>[2]</th>
    <th>[3]</th>
    <th>[4]</th>
    <th>[5]</th>
    <th>[6]</th>
    <th>[7]</th>
    <th>[8]</th>
    <th>[9]</th>
    <th>[10]</th>
    <th>[11]</th>
    <th>[12]</th>
</tr>