﻿@model Wspomaganie_dziekanatu.Models.VM.frpVM
<style type="text/css">
    table {
        margin: 20px auto 0;
        border: 1px solid #000;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        border: 1px solid #000;
    }

    table caption {
        font-weight: bold;
    }
</style>
<h1>I. INFORMACJE O KURSIE KOŃCZĄCYM SIĘ EGZAMINEM</h1>
<table>
    <tr>
        <td>NAZWA PRZEDMIOTU</td>
        <td>@Model.NazwaKursu</td>
    </tr>
    <tr>
        <td>Forma kursu</td>
        <td>Wykład/Ćwiczenia/Laboratorium/Projekt/Seminarium*</td>
    </tr>
    <tr>
        <td>Kierunek studiów (jeśli dotyczy)</td>
        <td>INF / ZARZ / INS / nie dotyczy / inny ............*</td>
    </tr>
    <tr>
        <td>Specjalność (jeśli dotyczy)</td>
        <td></td>
    </tr>
    <tr>
        <td>Stopień studiów i forma</td>
        <td>I/II stopień*<br />stacjonarna/niestacjonarna*</td>
    </tr>
    <tr>
        <td>Rok/semestr studiów</td>
        <td></td>
    </tr>
    <tr>
        <td>Terminy egzaminów</td>
        <td> I termin:<br />II termin:</td>
    </tr>
    <tr>
        <td>Tytuł, stopień, imiona i nazwiska prowadzących</td>
        <td></td>
    </tr>
</table>

<h1>II. WYNIKI EGZAMINOWANIA</h1>
<table>
    <caption>Tabela 1. Liczba ocen uzyskanych w 1. terminie egzaminu</caption>
    
    @Html.Partial("_FRPTableTop");

    @for (int i = 0; i < Model.Oceny_T1.Count; i++) {
        <tr>
            <td>
                @Model.Oceny_T1[i].KodGrupy
            </td>
            <td>@Model.Oceny_T1[i].ZapisanychNaKurs</td>
            <td>@Model.Oceny_T1[i].UczestniczacychWEgzaminie</td>
            <td>@Model.Oceny_T1[i].NieuczestniczacychWEgzaminie</td>
            <td>@Model.Oceny_T1[i].L6</td>
            <td>@Model.Oceny_T1[i].L5</td>
            <td>@Model.Oceny_T1[i].L4</td>
            <td>@Model.Oceny_T1[i].L3</td>
            <td>@Model.Oceny_T1[i].L2</td>
            <td>@Model.Oceny_T1[i].L1</td>
            <td>@Model.Oceny_T1[i].L0</td>
            <td>@Model.Oceny_T1[i].L</td>
        </tr>
    }
</table>

<table>
    <caption>Tabela 2. Ocena realizacji przedmiotowych efektów kształcenia PEK w 1. terminie egzaminu</caption>
    <tr>
        <th>Oznaczenie i nazwa przedmiotowego efektu kształcenia PEK</th>
        <th>Liczba osób, które osiągnęły założony PEK</th>
        <th>Liczba osób, które nie osiągnęły założonego PEK</th>
    </tr>
    <tr>
        <th>[1]</th>
        <th>[2]</th>
        <th>[3]</th>
    </tr>
    
    @for (int i = 0; i < Model.RealizacjaPEK_T1.Count; i++)
    {
        <tr>
            <td colspan="3">
                @Model.RealizacjaPEK_T1[i].KodGrupy
            </td>
        </tr>
        <tr>
            <td>@Model.RealizacjaPEK_T1[i].NazwaPEK</td>
            <td>@Model.RealizacjaPEK_T1[i].Osiagneli</td>
            <td>@Model.RealizacjaPEK_T1[i].Nieosiagneli</td>
        </tr>
    }
</table>

<table>
    <caption>Tabela 3. Liczba ocen uzyskanych w 2. terminie egzaminu</caption>
    
    @Html.Partial("_FRPTableTop");

    @for (int i = 0; i < Model.Oceny_T2.Count; i++)
    {
        <tr>
            <td>
                @Model.Oceny_T2[i].KodGrupy
            </td>
            <td>@Model.Oceny_T2[i].ZapisanychNaKurs</td>
            <td>@Model.Oceny_T2[i].UczestniczacychWEgzaminie</td>
            <td>@Model.Oceny_T2[i].NieuczestniczacychWEgzaminie</td>
            <td>@Model.Oceny_T2[i].L6</td>
            <td>@Model.Oceny_T2[i].L5</td>
            <td>@Model.Oceny_T2[i].L4</td>
            <td>@Model.Oceny_T2[i].L3</td>
            <td>@Model.Oceny_T2[i].L2</td>
            <td>@Model.Oceny_T2[i].L1</td>
            <td>@Model.Oceny_T2[i].L0</td>
            <td>@Model.Oceny_T2[i].L</td>
        </tr>
    }
</table>

<table>
    <caption>Tabela 4. Ocena realizacji przedmiotowych efektów kształcenia PEK w 2. terminie egzaminu</caption>
    <tr>
        <th>Oznaczenie i nazwa przedmiotowego efektu kształcenia PEK</th>
        <th>Liczba osób, które osiągnęły założony PEK</th>
        <th>Liczba osób, które nie osiągnęły założonego PEK</th>
    </tr>
    <tr>
        <th>[1]</th>
        <th>[2]</th>
        <th>[3]</th>
    </tr>

    @for (int i = 0; i < Model.RealizacjaPEK_T2.Count; i++)
    {
        <tr>
            <td colspan="3">
                @Model.RealizacjaPEK_T2[i].KodGrupy
            </td>
        </tr>
        <tr>
            <td>@Model.RealizacjaPEK_T2[i].NazwaPEK</td>
            <td>@Model.RealizacjaPEK_T2[i].Osiagneli</td>
            <td>@Model.RealizacjaPEK_T2[i].Nieosiagneli</td>
        </tr>
    }
</table>

<table class="table table-bordered">
    <caption>Tabela 5. Wyniki końcowe egzaminu</caption>

    @Html.Partial("_FRPTableTop");

    @for (int i = 0; i < Model.Oceny.Count; i++)
    {
        <tr>
            <td>
                @Model.Oceny[i].KodGrupy
            </td>
            <td>@Model.Oceny[i].ZapisanychNaKurs</td>
            <td>@Model.Oceny[i].UczestniczacychWEgzaminie</td>
            <td>@Model.Oceny[i].NieuczestniczacychWEgzaminie</td>
            <td>@Model.Oceny[i].L6</td>
            <td>@Model.Oceny[i].L5</td>
            <td>@Model.Oceny[i].L4</td>
            <td>@Model.Oceny[i].L3</td>
            <td>@Model.Oceny[i].L2</td>
            <td>@Model.Oceny[i].L1</td>
            <td>@Model.Oceny[i].L0</td>
            <td>@Model.Oceny[i].L</td>
        </tr>
    }
</table>

<table>
    <caption>Tabela 6. Dane statystyczne egzaminowania</caption>
    <tr>
        <th>Kod grupy</th>
        <th>Termin zajęć (opcjonalnie)</th>
        <th>O – ocena średnia uczestniczących w egzaminie</th>
        <th>&sigma; – odchylenie standardowe od O</th>
        <th>Ok – ocena średnia zapisanych na kurs</th>
        <th>RWZ = L/Z (%) – rzeczywisty wskaźnik zdawalności uczestniczących w egzaminie</th>
        <th>WZ = L/Zk (%) – wskaźnik zdawalności zapisanych na kurs</th>
    </tr>
    <tr>
        <th>[1]</th>
        <th>[2]</th>
        <th>[3]</th>
        <th>[4]</th>
        <th>[5]</th>
        <th>[6]</th>
        <th>[7]</th>
    </tr>
    @for (int i = 0; i < Model.DaneStatystyczne.Count; i++)
    {
        <tr>
            <td>
                @Model.DaneStatystyczne[i].KodGrupy
            </td>
            <td>@Model.DaneStatystyczne[i].TerminZajec</td>
            <td>@Model.DaneStatystyczne[i].OcenaSredniaEgzamin</td>
            <td>@Model.DaneStatystyczne[i].OdchylenieStandardowe</td>
            <td>@Model.DaneStatystyczne[i].OcenaSredniaZapisanych</td>
            <td>@Model.DaneStatystyczne[i].RzeczywistyWskaznikZawartosci</td>
            <td>@Model.DaneStatystyczne[i].WskaznikZdawalnosci</td>
        </tr>
    }
</table>
