﻿@model Wspomaganie_dziekanatu.Models.VM.frpVM
<table class="table table-bordered">
    <caption>Liczba ocen uzyskanych w 1. terminie egzaminu</caption>
    
    @Html.Partial("_FRPTableTop");

    @for (int i = 0; i < Model.Oceny_T1.Count; i++) {
        <tr>
            <td>
                @Html.Hidden("Model.Oceny_T1[" + i + "].IdGrupy", Model.Oceny_T1[i].IdGrupy)
                @Model.Oceny_T1[i].KodGrupy
            </td>
            <td>@Html.TextBox("Oceny_T1[" + i + "].ZapisanychNaKurs", Model.Oceny_T1[i].ZapisanychNaKurs, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T1[" + i + "].UczestniczacychWEgzaminie", Model.Oceny_T1[i].UczestniczacychWEgzaminie, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T1[" + i + "].NieuczestniczacychWEgzaminie", Model.Oceny_T1[i].NieuczestniczacychWEgzaminie, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T1[" + i + "].L6", Model.Oceny_T1[i].L6, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T1[" + i + "].L5", Model.Oceny_T1[i].L5, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T1[" + i + "].L4", Model.Oceny_T1[i].L4, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T1[" + i + "].L3", Model.Oceny_T1[i].L3, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T1[" + i + "].L2", Model.Oceny_T1[i].L2, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T1[" + i + "].L1", Model.Oceny_T1[i].L1, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T1[" + i + "].L0", Model.Oceny_T1[i].L0, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T1[" + i + "].L", Model.Oceny_T1[i].L, new { @class = "form-control" })</td>
        </tr>
    }
</table>

<table class="table table-bordered">
    <caption>Ocena realizacji przedmiotowych efektów kształcenia PEK w 1. terminie egzaminu</caption>
    <tr>
        <th>Oznaczenie i nazwa przedmiotowego efektu kształcenia PEK</th>
        <th>Liczba osób, które osiągnęły założony PEK</th>
        <th>Liczba osób, które nie osiągnęły założonego PEK</th>
    </tr>
    <tr>
        <th>[1]</th>
        <th>[2]</th>
        <th>[3]</th>
    </tr>
    
    @for (int i = 0; i < Model.RealizacjaPEK_T1.Count; i++)
    {
        <tr>
            <td colspan="3">
                @Html.Hidden("Model.RealizacjaPEK_T1[" + i + "].PEKId", Model.RealizacjaPEK_T1[i].PEKId)
                @Model.RealizacjaPEK_T1[i].KodGrupy
            </td>
        </tr>
        <tr>
            <td>@Model.RealizacjaPEK_T1[i].NazwaPEK</td>
            <td>@Model.RealizacjaPEK_T1[i].Osiagneli</td>
            <td>@Model.RealizacjaPEK_T1[i].Nieosiagneli</td>
        </tr>
    }
</table>

<table class="table table-bordered">
    <caption>Liczba ocen uzyskanych w 2. terminie egzaminu</caption>
    
    @Html.Partial("_FRPTableTop");

    @for (int i = 0; i < Model.Oceny_T2.Count; i++)
    {
        <tr>
            <td>
                @Html.Hidden("Model.Oceny_T2[" + i + "].IdGrupy", Model.Oceny_T2[i].IdGrupy)
                @Model.Oceny_T2[i].KodGrupy
            </td>
            <td>@Html.TextBox("Oceny_T2[" + i + "].ZapisanychNaKurs", Model.Oceny_T2[i].ZapisanychNaKurs, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T2[" + i + "].UczestniczacychWEgzaminie", Model.Oceny_T2[i].UczestniczacychWEgzaminie, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T2[" + i + "].NieuczestniczacychWEgzaminie", Model.Oceny_T2[i].NieuczestniczacychWEgzaminie, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T2[" + i + "].L6", Model.Oceny_T2[i].L6, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T2[" + i + "].L5", Model.Oceny_T2[i].L5, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T2[" + i + "].L4", Model.Oceny_T2[i].L4, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T2[" + i + "].L3", Model.Oceny_T2[i].L3, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T2[" + i + "].L2", Model.Oceny_T2[i].L2, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T2[" + i + "].L1", Model.Oceny_T2[i].L1, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T2[" + i + "].L0", Model.Oceny_T2[i].L0, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny_T2[" + i + "].L", Model.Oceny_T2[i].L, new { @class = "form-control" })</td>
        </tr>
    }
</table>

<table class="table table-bordered">
    <caption>Ocena realizacji przedmiotowych efektów kształcenia PEK w 2. terminie egzaminu</caption>
    <tr>
        <th>Oznaczenie i nazwa przedmiotowego efektu kształcenia PEK</th>
        <th>Liczba osób, które osiągnęły założony PEK</th>
        <th>Liczba osób, które nie osiągnęły założonego PEK</th>
    </tr>
    <tr>
        <th>[1]</th>
        <th>[2]</th>
        <th>[3]</th>
    </tr>

    @for (int i = 0; i < Model.RealizacjaPEK_T2.Count; i++)
    {
        <tr>
            <td colspan="3">
                @Html.Hidden("Model.RealizacjaPEK_T2[" + i + "].PEKId", Model.RealizacjaPEK_T2[i].PEKId)
                @Model.RealizacjaPEK_T2[i].KodGrupy
            </td>
        </tr>
        <tr>
            <td>@Model.RealizacjaPEK_T2[i].NazwaPEK</td>
            <td>@Model.RealizacjaPEK_T2[i].Osiagneli</td>
            <td>@Model.RealizacjaPEK_T2[i].Nieosiagneli</td>
        </tr>
    }
</table>

<table class="table table-bordered">
    <caption>Wyniki końcowe egzaminu</caption>

    @Html.Partial("_FRPTableTop");

    @for (int i = 0; i < Model.Oceny.Count; i++)
    {
        <tr>
            <td>
                @Html.Hidden("Model.Oceny[" + i + "].IdGrupy", Model.Oceny[i].IdGrupy)
                @Model.Oceny[i].KodGrupy
            </td>
            <td>@Html.TextBox("Oceny[" + i + "].ZapisanychNaKurs", Model.Oceny[i].ZapisanychNaKurs, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny[" + i + "].UczestniczacychWEgzaminie", Model.Oceny[i].UczestniczacychWEgzaminie, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny[" + i + "].NieuczestniczacychWEgzaminie", Model.Oceny[i].NieuczestniczacychWEgzaminie, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny[" + i + "].L6", Model.Oceny[i].L6, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny[" + i + "].L5", Model.Oceny[i].L5, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny[" + i + "].L4", Model.Oceny[i].L4, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny[" + i + "].L3", Model.Oceny[i].L3, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny[" + i + "].L2", Model.Oceny[i].L2, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny[" + i + "].L1", Model.Oceny[i].L1, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny[" + i + "].L0", Model.Oceny[i].L0, new { @class = "form-control" })</td>
            <td>@Html.TextBox("Oceny[" + i + "].L", Model.Oceny[i].L, new { @class = "form-control" })</td>
        </tr>
    }
</table>

<table class="table table-bordered">
    <caption>Dane statystyczne egzaminowania</caption>
    <tr>
        <th>Kod grupy</th>
        <th>Termin zajęć (opcjonalnie)</th>
        <th>O – ocena średnia uczestniczących w egzaminie</th>
        <th>&sigma; – odchylenie standardowe4 od O</th>
        <th>Ok – ocena średnia zapisanych na kurs</th>
        <th>RWZ=L/Z (%) – rzeczywisty wskaźnik zdawalności uczestniczących w egzaminie</th>
        <th>WZ=L/Zk (%) – wskaźnik zdawalności zapisanych na kurs</th>
    </tr>
    <tr>
        <th>[1]</th>
        <th>[2]</th>
        <th>[3]</th>
        <th>[4]</th>
        <th>[5]</th>
        <th>[6]</th>
        <th>[7]</th>
    </tr>
    @for (int i = 0; i < Model.DaneStatystyczne.Count; i++)
    {
        <tr>
            <td>
                @Html.Hidden("Model.DaneStatystyczne[" + i + "].GrupaId", Model.DaneStatystyczne[i].GrupaId)
                @Model.DaneStatystyczne[i].KodGrupy
            </td>
            <td>@Model.DaneStatystyczne[i].TerminZajec</td>
            <td>@Model.DaneStatystyczne[i].OcenaSredniaEgzamin</td>
            <td>@Model.DaneStatystyczne[i].OdchylenieStandardowe</td>
            <td>@Model.DaneStatystyczne[i].OcenaSredniaZapisanych</td>
            <td>@Model.DaneStatystyczne[i].RzeczywistyWskaznikZawartosci</td>
            <td>@Model.DaneStatystyczne[i].WskaznikZdawalnosci</td>
        </tr>
    }
</table>
