﻿@model Wspomaganie_dziekanatu.Models.SROP
<style type="text/css">
    table {
        margin: 0 auto;
        border: 1px solid #000;
        border-collapse: collapse;
    }

    td {
        padding: 5px;
        border: 1px solid #000;
    }
</style>
<h1>SYNTETYCZNY RAPORT OCENY PEK DLA DANEGO PRZEDMIOTU</h1>

<table>
    <tr>
        <td>NAZWA PRZEDMIOTU</td>
        <td></td>
    </tr>
    <tr>
        <td>Kierunek studiów (jeśli dotyczy)</td>
        <td>INF / ZARZ / INS / nie dotyczy / inny ............*</td>
    </tr>
    <tr>
        <td>Specjalność (jeśli dotyczy)</td>
        <td></td>
    </tr>
    <tr>
        <td>Stopień studiów i forma</td>
        <td>I/II stopień*<br />stacjonarna/niestacjonarna*</td>
    </tr>
    <tr>
        <td>Rok/semestr studiów</td>
        <td></td>
    </tr>
    <tr>
        <td>Tytuł, stopień, imiona i nazwiska prowadzących</td>
        <td></td>
    </tr>
</table>

<ol style="list-style: none">
    <li >
        <h4>1. Syntetyczna analiza i ocena wyników uzyskanych w ramach danego przedmiotu</h4>
        <p>@Model.Sekcja1</p>
    </li>
    <li>
        <h4>2. Wnioski i uwagi dotyczące zrealizowanego przedmiotu, wyników zaliczeń/egzaminów</h4>
        <p>@Model.Sekcja2</p>
    </li>
    <li>
        <h4>3. Ocena skuteczności podjętych działań korygujących</h4>
        <p>@Model.Sekcja3</p>
    </li>
    <li>
        <h4>4. Propozycje zmian zmierzających do doskonalenia jakości kształcenia - zalecenia co do sposobu prowadzenia tego przedmiotu w przyszłości</h4>
        <p>@Model.Sekcja4</p>
    </li>
    <li>
        <h4>5. Propozycje dla komisji programowej kierunku</h4>
        <p>@Model.Sekcja5</p>
    </li>
    <li>
        <h4>6. AUTOR RAPORTU (IMIĘ, NAZWISKO, ADRES E-MAIL)/Data sporządzenia raportu</h4>
        <p>@User.Identity.Name / @DateTime.Now.ToString("dd.MM.yyyy")</p>
    </li>
</ol>
