﻿@model Wspomaganie_dziekanatu.Models.VM.frpVM
@{
    ViewBag.Title = (ViewContext.RouteData.Values["actionType"] == "new") ? "Stwórz" : "Edytuj";
}


<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"><span class="sr-only">Strona główna</span></span></a>
        </li>
        <li><a href="/Reports">Raporty</a></li>
        @Html.Partial("_BreadcrumbsCoursesPart")
        <li>FRP</li>
        <li>@(ViewContext.RouteData.Values["actionType"].Equals("new") ? "Stwórz" : "Edytuj")</li>
    </ul>
    <div class="btn-group breadcrumb" role="group" aria-label="Opcje">
        <a href="/Reports/@ViewContext.RouteData.Values["courseId"]" class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle"></span> Anuluj</a>
        <a href="/Reports/@ViewContext.RouteData.Values["courseId"]/frp/pdf/@Model.frp.FormaPrzedmiotuId" class="btn btn-success" target="_blank"><span class="glyphicon glyphicon-file"></span> PDF</a>
        <!--button class="btn btn-success"><span class="glyphicon glyphicon-send"></span> Zapisz i wyślij</button-->
        <button class="btn btn-success" onclick="submitForm('frp-form')"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Zapisz</button>
    </div>

    @Html.Partial("_LoginPartial")
</header>

<div id="body">
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frp-form" }))
    {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Raport FRP dla @Model.NazwaKursu</h4>
        </div>
        <div class="table-responsive">

            @if (Model.Zaliczenie)
            {
                @Html.Partial("_FRPNoExam");
            }
            else
            {
                @Html.Partial("_FRPExam");
            }

        </div>
    </div>
}
</div>
