﻿@model Wspomaganie_dziekanatu.Models.SROP
@{
    ViewBag.Title = (ViewContext.RouteData.Values["actionType"] == "new") ? "Stwórz" : "Edytuj";
}
<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"><span class="sr-only">Strona główna</span></span></a>
        </li>
        <li><a href="/Reports">Raporty</a></li>
        @Html.Partial("_BreadcrumbsCoursesPart")
        <li>SROP</li>
        <li>@(ViewContext.RouteData.Values["actionType"].Equals("new") ? "Stwórz" : "Edytuj")</li>
    </ul>
    <div class="btn-group breadcrumb" role="group" aria-label="Opcje">
        <a href="/Reports/@ViewContext.RouteData.Values["courseId"]" class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle"></span> Anuluj</a>
        <a href="/Reports/@ViewContext.RouteData.Values["courseId"]/srop/pdf" class="btn btn-success" target="_blank"><span class="glyphicon glyphicon-file"></span> PDF</a>
        <!--button class="btn btn-success"><span class="glyphicon glyphicon-send"></span> Zapisz i wyślij</button-->
        <button class="btn btn-success" onclick="submitForm('srop-form')"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Zapisz</button>
    </div>
    @Html.Partial("_LoginPartial")
</header>

<div id="body">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "srop-form" }))
    {
        @Html.HiddenFor(m=>m.StudiaNaKierunkuId)
        @Html.HiddenFor(m=>m.KartaPrzedmiotuId)
        @Html.HiddenFor(m=>m.Rok)
        @Html.HiddenFor(m=>m.Semestr)
        @Html.HiddenFor(m=>m.DataUtworzenia)
        @Html.HiddenFor(m=>m.StatusRaportuId)
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Raport SROP dla @ViewBag.CourseName</h4>
            </div>
            
            <ol class="list-group">
                <li class="list-group-item">
                    <h4 data-toggle="tooltip" data-placement="top" title="można wykorzystać zestawienia przygotowane przez prowadzących kursy w ramach danego przedmiotu">1. Syntetyczna analiza i ocena wyników uzyskanych w ramach danego przedmiotu</h4>
                    @Html.TextAreaFor(m => m.Sekcja1, new { @class = "form-control", @rows = 3 })
                </li>
                <li class="list-group-item">
                    <h4>2. Wnioski i uwagi dotyczące zrealizowanego przedmiotu, wyników zaliczeń/egzaminów</h4>
                    @Html.TextAreaFor(m => m.Sekcja2, new { @class = "form-control", @rows = 3 })
                </li>
                <li class="list-group-item">
                    <h4 data-toggle="tooltip" data-placement="top" title="w przypadku gdy zdefiniowano akcje korygujące w poprzednim okresie, należy opisać jakie działania podjęto i dokonać oceny ich skuteczności">3. Ocena skuteczności podjętych działań korygujących</h4>
                    @Html.TextAreaFor(m => m.Sekcja3, new { @class = "form-control", @rows = 3 })
                </li>
                <li class="list-group-item">
                    <h4>4. Propozycje zmian zmierzających do doskonalenia jakości kształcenia - zalecenia co do sposobu prowadzenia tego przedmiotu w przyszłości</h4>
                    @Html.TextAreaFor(m => m.Sekcja4, new { @class = "form-control", @rows = 3 })
                </li>
                <li class="list-group-item">
                    <h4>5. Propozycje dla komisji programowej kierunku</h4>
                    @Html.TextAreaFor(m => m.Sekcja5, new { @class = "form-control", @rows = 3 })
                </li>
            </ol>
        </div>
    }
</div>
