﻿@model List<Wspomaganie_dziekanatu.Models.VM.RaportyVM>
@{
    ViewBag.Title = "Raporty";
}

<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"><span class="sr-only">Strona główna</span></span></a>
        </li>
        <li>Raporty</li>
    </ul>
    @Html.Partial("_LoginPartial")
</header>

<div id="body">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Lista raportów</h4>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-filter"></span> Filtruj
                </span>
                <input type="text" class="form-control table-list-filter-input" data-table-id="all-groups-table" placeholder="Wpisz fragment nazwy kursu..." />
            </div>
        </div>
        <table class="table table-hover groups-table" id="all-groups-table">
            <tr>
                <th>Dzień tyg.</th>
                <th>Godzina</th>
                <th>Kod grupy</th>
                <th></th>
            </tr>
            @if (@Model.Count > 0)
            {
                String currentName = "";
                String currentType = "";
                foreach (var g in Model)
                {
                    if (currentName != g.NazwaKursu)
                    {
                        currentName = g.NazwaKursu;
                        currentType = "";
                        <tr>
                            <td colspan="5" class="table-course-header list-group-item-info">
                                @g.NazwaKursu
                                <a href="/Reports/@g.KursId" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>Przeglądaj wszystkie</a>
                                @if (g.CzyOdpowiedzialnyZaSROP) {
                                    <a href="/Reports/@g.KursId/srop/@(g.IstniejeSROP ? "edit" : "new")" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>@(g.IstniejeSROP ? "Edytuj" : "Stwórz") SROP</a>
                                }
                            </td>
                        </tr>
                    }


                    foreach (var fp in g.ListaFormPrzedmiotu)
                    {
                        if (currentType != fp.NazwaFormyPrzedmiotu)
                        {
                            currentType = fp.NazwaFormyPrzedmiotu;
                            <tr>
                                <td colspan="5" class="table-course-type-header">@fp.NazwaFormyPrzedmiotu</td>
                            </tr>
                        }

                        <tr>
                            <td>@fp.DzienTygodnia</td>
                            <td>@fp.Godzina</td>
                            <td>@fp.KodGrupy</td>
                            <td>
                                <a href="/Reports/@g.KursId/frp/@(fp.IstniejeFRP ? "edit" : "new")/@fp.IdFormyPrzedmiotu" class="btn btn-xs btn-default">
                                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>@(fp.IstniejeFRP ? "Edytuj" : "Stwórz") FRP
                                </a>
                            </td>
                        </tr>

                    }
                   
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="table-course-header list-group-item-info">Brak grup.</td>
                </tr>
            }
        </table>
    </div>
</div>
