﻿@model Wspomaganie_dziekanatu.Models.VM.RaportyVM
@{
    ViewBag.Title = "Przeglądaj raporty dla kursu " + @Model.NazwaKursu;
}

<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"><span class="sr-only">Strona główna</span></span></a>
        </li>
        <li><a href="/Reports">Raporty</a></li>
        @Html.Partial("_BreadcrumbsCoursesPart")
    </ul>
    @Html.Partial("_LoginPartial")
</header>
<div id="body">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Lista raportów dla kursu: @Model.NazwaKursu</h4>
        </div>
        <div class="panel-body">
            Wszystkie możliwe raporty dla kursu
        </div>
        <table class="table">
            <tr>
                <th>Typ raportu</th>
                <th>Status</th>
                <th>Akcje</th>
            </tr>
            @if (Model.CzyOdpowiedzialnyZaSROP) {
                <tr>
                    <td>SROP</td>
                    <td>
                        @if (Model.IstniejeSROP) {<text>Utworzony</text>} else {<text>Nieutworzony</text>}
                    </td>
                    <td>
                        @if (Model.IstniejeSROP) {
                            <a class="btn btn-success" href="/Reports/@Model.KursId/srop/edit">Edytuj</a>
                        }
                        else
                        {
                            <a class="btn btn-success" href="/Reports/@Model.KursId/srop/new">Stwórz</a>
                        }

                        <a class="btn btn-success" @(Model.IstniejeSROP ? " href=/Reports/" + Model.KursId + "/srop/pdf target=_blank" : " disabled")>
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Pobierz PDF
                        </a>
                    </td>
                </tr>
            }
            @foreach (var fp in Model.ListaFormPrzedmiotu)
            {
                <tr>
                    <td>FRP (@fp.KodGrupy, @fp.NazwaFormyPrzedmiotu, @fp.DzienTygodnia, @fp.Godzina)</td>
                    <td>
                        @if (fp.IstniejeFRP)
                            {<text>Utworzony</text>}
                        else
                            {<text>Nieutworzony</text>}
                    </td>
                    <td>
                        @if (fp.IstniejeFRP)
                        {
                            <a class="btn btn-success" href="/Reports/@Model.KursId/frp/edit/@fp.IdFormyPrzedmiotu">Edytuj</a>
                        }
                        else
                        {
                            <a class="btn btn-success" href="/Reports/@Model.KursId/frp/new/@fp.IdFormyPrzedmiotu">Stwórz</a>
                            <button class="btn btn-success">Wyślij przypomnienie do dydaktyka</button>
                        }

                        <a class="btn btn-success" @(fp.IstniejeFRP ? " href=/Reports/" + Model.KursId + "/frp/pdf/" + fp.IdFormyPrzedmiotu + " target=_blank" : " disabled")>
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Pobierz PDF
                        </a>
                    </td>
                </tr>
            }
            
            @if (Model.CzyOdpowiedzialnyZaSROP) {
                <tr>
                    @{
                        bool canSend = Model.PrzekazaneWszystkieFRP;
                    }
                    <td>Karta procesu</td>
                    <td>@(canSend ? "Kompletna" : "Niekompletna")</td>
                    <td>
                        <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="Brak raportu SROP">
                            
                            <button class="btn btn-success" @(!canSend ? "" : " disabled")><span class="glyphicon glyphicon-send" aria-hidden="true"></span>Prześlij do komisji</button>
                        </div>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
