﻿@model IEnumerable<Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.LiteraturaVM>

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Literatura przedmiotu";
    int lp = 0;
}

<div class="ekp-well-second">
    <h3>@ViewBag.Title</h3>
</div>
@if (Model.Count() > 1)
{
    if (Model.Where(m => m.TypId == 1).Count() > 1)
    {
        <div class="ekp-well-third">
            <label>Literatura podstawowa:</label>
        </div>
        <table class="table" style="width: 100%;">
            @{ lp = 1; }
            @foreach (var item in Model.Where(m => m.TypId == 1))
            {
                <tr>
                    <td class="col-md-1">
                        <label>@Html.DisplayName((lp++).ToString()).</label>
                    </td>
                    <td>
                        <div>
                            <label>@Html.DisplayFor(modelItem => item.Tytul, new { @class = "control-label" })</label>
                        </div>
                        <div>
                            autorzy
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Wydawnictwo),
                            @Html.DisplayFor(modelItem => item.RokWydania)
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    if (Model.Where(m => m.TypId == 2).Count() > 1)
    {
        <div class="ekp-well-third">
            <label>Literatura uzupełniająca:</label>
        </div>
        <table class="table" style="width: 100%;">
            @{ lp = 1; }
            @foreach (var item in Model.Where(m => m.TypId == 2))
            {
                <tr>
                    <td class="col-md-1">
                        <label>@Html.DisplayName((lp++).ToString()).</label>
                    </td>
                    <td>
                        <div>
                            <label>@Html.DisplayFor(modelItem => item.Tytul, new { @class = "control-label" })</label>
                        </div>
                        <div>
                            autorzy
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Wydawnictwo),
                            @Html.DisplayFor(modelItem => item.RokWydania)
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
}
else
{
    <div style="text-align: center;">
        <h4 class="text-danger">brak danych</h4>
    </div>
}
