﻿@using Wspomaganie_dziekanatu.Models.VM;
@{
    ViewBag.Title = "Grupy";
}

<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"><span class="sr-only">Strona główna</span></span></a>
        </li>
        <li><a href="/Groups">Grupy</a></li>
    </ul>
    @Html.Partial("_LoginPartial")
</header>

<div id="body">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>LISTA GRUP</h4>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-filter"></span> Filtruj
                </span>
                <input type="text" class="form-control table-list-filter-input" data-table-id="all-groups-table" placeholder="Wpisz fragment nazwy kursu..." />
            </div>
        </div>
        @Html.Partial("TableList", new DashboardVM { ListaGrup = Model })
    </div>
</div>
