﻿@model Wspomaganie_dziekanatu.Models.VM.DashboardVM

<table class="table table-hover groups-table" id="all-groups-table">
    <tr>
        <th>Dzień tyg.</th>
        <th>Godzina</th>
        <th>Kod grupy</th>
        <th></th>
        <th></th>
    </tr>
    @if (@Model.ListaGrup.Count > 0)
    {
        String currentName = "";
        String currentType = "";
        foreach (var g in Model.ListaGrup)
        {
           if (currentName != g.NazwaKursu) {
                currentName = g.NazwaKursu;
                currentType = "";
                <tr>
                    <td colspan="5" class="table-course-header list-group-item-info">
                        @g.NazwaKursu <a href="/Reports/@g.IdKursu" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>Raporty</a>
                    </td>
                </tr>
            }

            if (currentType != g.TypPrzedmiotu)
            {
                currentType = g.TypPrzedmiotu;
                <tr>
                    <td colspan="5" class="table-course-type-header">@g.TypPrzedmiotu</td>
                </tr>
            }

            <tr>
                <td>@g.DzienTygodnia</td>
                <td>@g.Godzina</td>
                <td>@g.KodGrupy</td>
                <td><a href="/Grades/@g.IdKursu/@g.IdGrupy" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Dziennik</a></td>
                <td><a href="/Groups/@g.IdKursu/@g.IdGrupy" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>Przegląd</a></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5" class="table-course-header list-group-item-info">Brak grup.</td>
        </tr>
    }
</table>
