﻿@model List<Wspomaganie_dziekanatu.Models.VM.ListaGrupVM>
@{
    ViewBag.Title = "Lista grup dla kursu: " + @ViewBag.CourseName;
}

<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"><span class="sr-only">Strona główna</span></span></a>
        </li>
        <li><a href="/Groups">Grupy</a></li>
        @Html.Partial("_BreadcrumbsCoursesPart")
    </ul>
    @Html.Partial("_LoginPartial")
</header>

<div id="body">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Lista grup dla kursu: @ViewBag.CourseName</h4>
        </div>
        <div class="panel-body">
            <p>Wszystkie grupy z danego kursu</p>
        </div>
        <table class="table table-hover groups-table" id="all-courses-table">
            <tr>
                <th>Dzień tyg.</th>
                <th>Godzina</th>
                <th>Kod grupy</th>
            </tr>
            @if (@Model.Count > 0)
            {
                String currentType = "";
                foreach (var g in Model)
                {
                    if (currentType != g.TypPrzedmiotu)
                    {
                        currentType = g.TypPrzedmiotu;
                        <tr>
                            <td colspan="5" class="table-course-type-header list-group-item-info">@g.TypPrzedmiotu</td>
                        </tr>
                    }

                    <tr data-href="/Groups/@g.IdKursu/@g.IdGrupy">
                        <td>@g.DzienTygodnia</td>
                        <td>@g.Godzina</td>
                        <td>@g.KodGrupy</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>