﻿
@{
    ViewBag.Title = "Sczegółowy przegląd kursu: " + @ViewContext.RouteData.Values["courseId"] + ", grupa: " + ViewContext.RouteData.Values["groupId"];
}

<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"><span class="sr-only">Strona główna</span></span></a>
        </li>
        <li><a href="/Groups">Grupy</a></li>
        @Html.Partial("_BreadcrumbsCoursesPart")
        @Html.Partial("_BreadcrumbsGroupsPart")
    </ul>
    @Html.Partial("_LoginPartial")
</header>

<div id="body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Szczegółowy przegląd kursu: @ViewBag.CourseName, grupa: @ViewBag.GroupName</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Zadanie</th>
                    <th>Akcje</th>
                </tr>
                <tr>
                    <td>Dziennik</td>
                    <td>
                        <a class="btn btn-xs btn-default" href="/Grades/@ViewContext.RouteData.Values["courseId"]/@ViewContext.RouteData.Values["groupId"]"><span aria-hidden="true" class="glyphicon glyphicon-folder-open"></span>Przegląd</a>
                    </td>
                </tr>
                <tr>
                    <td>Raporty</td>
                    <td>
                        <a class="btn btn-xs btn-default" href="/Reports/@ViewContext.RouteData.Values["courseId"]"><span aria-hidden="true" class="glyphicon glyphicon-folder-open"></span>Przegląd</a>
                    </td>
                </tr>
                <tr>
                    <td>Statystyki</td>
                    <td>
                        
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
