﻿@model Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.TrescProgramowaVM
@using Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models;

@{
    int lp = 1;
    string typ = "La";
}

<div class="dynamicRow">
    @using (Html.BeginCollectionItemFor<KartaPrzedmiotuVM>(model => model.TresciLList))
    {
        <table class="ekp-dynamic-row" style="width: 100%;">
            <tr>
                <td style="text-align: right; padding-right: 15px; width: 50px;">
                    <label>@Html.DisplayName(typ + lp)</label>
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Opis, htmlAttributes: new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
                </td>
                <td style="text-align: center; width: 120px;">
                    @Html.LabelFor(model => model.LiczbaGodzin, htmlAttributes: new { @class = "control-label" })
                </td>
                <td style="width: 50px;">
                    @Html.EditorFor(model => model.LiczbaGodzin, new { htmlAttributes = new { @class = "form-control input-sm" } })
                </td>
                <td style="width: 50px;">
                    <button type="button" class="deleteRow btn btn-xs btn-danger" title="Usuń pozycję" style="margin-left: 10px;"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        </table>
    }
</div>