﻿@model Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.LiteraturaVM
@using Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models;

<div class="dynamicRow">
    @using (Html.BeginCollectionItemFor<KartaPrzedmiotuVM>(model => model.LiteraturaPList))
    {
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Tytul, htmlAttributes: new { @class = "control-label col-md-1", @style = "background-color: #eee;" })
                <div class="col-md-11">
                    @Html.TextBoxFor(model => model.Tytul, htmlAttributes: new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Tytul, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Wydawnictwo, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-11">
                    @Html.TextBoxFor(model => model.Wydawnictwo, htmlAttributes: new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Wydawnictwo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RokWydania, htmlAttributes: new { @class = "control-label col-md-1", @style = "white-space: nowrap;" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.RokWydania, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.RokWydania, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        <div class="rows addAutor" style="margin-bottom: 10px;">
            @foreach(var autor in Model.AutorzyList)
            {
                Html.EditorFor(x => autor, MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowAutor);
            }
        </div>
        
        <div class="container-fluid">
            <button type="button" class="deleteRow btn btn-xs btn-danger ekp-space-after-btn" title="Usuń pozycję">
                <span>Usuń pozycję</span>
            </button>
            @Html.AddDynamicRowLink("Dodaj autora", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForAutor, "addAutor", new { @class = "btn btn-xs btn-default" })
        </div>
        
        <hr />
    }
</div>

<script type="text/javascript">
    $("a.addRow").off().click(function () {
        var $selector = '.' + $(this).data("placeholder");
        var $prefix = $(this).data("prefix");

        var $element = $(this).parents("div.dynamicRow:first");
        if ($element.length === 0) {
            $element = $($selector);
        } else {
            $element = $($element).find($selector);
        }

        $.ajax({
            url: this.href,
            cache: false,
            type: "GET",
            dataType: "html",
            data: {
                prefix: $prefix
            }
        }).success(function (html) {
            $($element).append(html);
            $.removeData($("form")[0], "validator");
            $.validator.unobtrusive.parse(document);
        }).error(function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
        });

        return false;
    });
</script>
