﻿@model Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.AutorVM
@using Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models;

<div class="dynamicRow">
    @using(Html.BeginCollectionItemFor<LiteraturaVM>(model => model.AutorzyList))
    {
        <table class="ekp-dynamic-row">
            <tr>
                <td class="col-md-1" style="text-align: right;"><label>Autor:</label></td>
                <td class="col-md-1">
                    @Html.DisplayNameFor(model => model.Imie)
                </td>
                <td class="col-md-4">
                    @Html.TextBoxFor(model => model.Imie, htmlAttributes: new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Imie, "", new { @class = "text-danger" })
                </td>
                <td class="col-md-1">
                    @Html.DisplayNameFor(model => model.Nazwisko)
                </td>
                <td class="col-md-4">
                    @Html.TextBoxFor(model => model.Nazwisko, htmlAttributes: new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Nazwisko, "", new { @class = "text-danger" })
                </td>
                <td class="col-md-1" style="text-align: left;">
                    <button type="button" class="deleteRow btn btn-xs btn-danger" title="Usuń autora"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        </table>
    }
</div>