﻿@model Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.KartaPrzedmiotuVM
@using Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models;
@using Wspomaganie_dziekanatu.Helpers

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Tworzenie karty przedmiotu";
    string btnHide = "Zwiń/rozwiń sekcję";
}

<header class="container-fluid">
    @Html.Partial("~/Views/Shared/_NavbarToggleButton.cshtml")
    <ul class="breadcrumb">
        <li>
            <a href="/">
                <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
                <span class="sr-only">Strona główna</span>
            </a>
        </li>
        <li>
            @ViewBag.Title
        </li>
    </ul>
    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
</header>

<div id="body" class="container-fluid ekp-container">

    <div class="ekp-well">
        <h2>@ViewBag.Title</h2>
        <div style="margin-top: 20px;">
            By utworzyć nową kartę przedmiotu należy poprawnie wypełnić wszystkie wymagane pola.
            Po wciśnięciu przycisku <i>Utwórz kartę</i> wszystkie wprowadzone dane zostaną zapisane,
            a utworzona karta przedmiotu przekazana do weryfikacji.
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="container-fluid" style="margin-bottom: 40px;">
            <button type="submit" class="btn btn-success col-md-2 ekp-space-after-btn" title="Utwórz kartę i prześlij do weryfikacji">
                <span>Utwórz kartę</span>
            </button>
            @Html.ActionLink("Anuluj", "Index", "Home", new { area = "" }, new { @class = "btn btn-danger col-md-2", @title = "Wróć do strony głównej" })
        </div>
        
        <!-- segment A -->
        <table class="ekp-well-second">
            <tr>
                <th style="padding-left: 20px;">
                    <h3>KARTA PRZEDMIOTU</h3>
                </th>
                <th class="col-md-offset-10 col-md-2 ekp-container-btn">
                    <span id="schowajA" class="btn btn-info glyphicon glyphicon-eye-close" title="@btnHide"></span>
                </th>
            </tr>
        </table>
        <div id="segmentA" class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.WersjaJezykowa, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.WersjaJezykowa, new SelectList(ViewBag.WyborJezyka, "Id", "Wartosc"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WersjaJezykowa, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.Wydzial, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.Wydzial, (IEnumerable<SelectListItem>)ViewBag.Wydzial, String.Empty, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Wydzial, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NazwaPrzedmiotuPOL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NazwaPrzedmiotuPOL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NazwaPrzedmiotuPOL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NazwaPrzedmiotuENG, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NazwaPrzedmiotuENG, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NazwaPrzedmiotuENG, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KierunekStudiow, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.KierunekStudiow, (IEnumerable<SelectListItem>)ViewBag.KierunekStudiow, String.Empty, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.KierunekStudiow, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Specjalnosc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.Specjalnosc, (IEnumerable<SelectListItem>)ViewBag.Specjalnosc, String.Empty, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Specjalnosc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StopienStudiow, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.StopienStudiow, (IEnumerable<SelectListItem>)ViewBag.StopienStudiow, String.Empty, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StopienStudiow, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FormaStudiow, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.FormaStudiow, (IEnumerable<SelectListItem>)ViewBag.FormaStudiow, String.Empty, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FormaStudiow, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RodzajPrzedmiotu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.RodzajPrzedmiotu, (IEnumerable<SelectListItem>)ViewBag.RodzajPrzedmiotu, String.Empty, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RodzajPrzedmiotu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KodPrzedmiotu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KodPrzedmiotu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KodPrzedmiotu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GrupaKursow, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.GrupaKursow, new SelectList(ViewBag.GrupaKursow, "Id", "Wartosc"), String.Empty, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GrupaKursow, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                @{ Html.RenderAction("_Create", "TabelaPunktowGodzin"); }
            </div>
        </div>
        
        <!-- segment B -->
        <table class="ekp-well-second">
            <tr>
                <th style="padding-left: 20px;">
                    <h3>Wymagania wstępne w zakresie wiedzy, umiejętności i innych kompetencji</h3>
                </th>
                <th class="col-md-offset-10 col-md-2 ekp-container-btn">
                    <span id="schowajB" class="btn btn-info glyphicon glyphicon-eye-close" title="@btnHide"></span>
                </th>
            </tr>
        </table>
        <div id="segmentB" class="form-horizontal">
            <div class="rows addWymaganieWstepne">
                @foreach (var wymaganie in Model.WymaganiaWstepneList)
                {
                    Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowWymaganieWstepne, wymaganie);
                }
            </div>

            <div class="container-fluid" style="margin-bottom: 10px;">
                @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForWymaganieWstepne, "addWymaganieWstepne", new { @class = "btn btn-xs btn-warning" })
            </div>
        </div>
        
        <!-- segment C -->
        <table class="ekp-well-second">
            <tr>
                <th style="padding-left: 20px;">
                    <h3>Cele przedmiotu</h3>
                </th>
                <th class="col-md-offset-10 col-md-2 ekp-container-btn">
                    <span id="schowajC" class="btn btn-info glyphicon glyphicon-eye-close" title="@btnHide"></span>
                </th>
            </tr>
        </table>
        <div id="segmentC" class="form-horizontal">
            <div class="rows addCelPrzedmiotu">
                @foreach (var cel in Model.CelePrzedmiotuList)
                {
                    Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowCelPrzedmiotu, cel);
                }
            </div>

            <div class="container-fluid" style="margin-bottom: 10px;">
                @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForCelPrzedmiotu, "addCelPrzedmiotu", new { @class = "btn btn-xs btn-warning" })
            </div>
        </div>

        <!-- segment D -->
    <table class="ekp-well-second">
        <tr>
            <th style="padding-left: 20px;">
                <h3>Przedmiotowe efekty kształcenia</h3>
            </th>
            <th class="col-md-offset-10 col-md-2 ekp-container-btn">
                <span id="schowajD" class="btn btn-info glyphicon glyphicon-eye-close" title="@btnHide"></span>
            </th>
        </tr>
    </table>
    <div id="segmentD" class="form-horizontal">
        <div>
            <div class="ekp-well-third">
                <label>Z zakresu wiedzy:</label>
            </div>

            <div class="rows addPekW">
                @foreach (var pekW in Model.PekiWList)
                {
                    Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowPekW, pekW);
                }
            </div>

            <div class="container-fluid" style="margin-bottom: 10px;">
                @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForPekW, "addPekW", new { @class = "btn btn-xs btn-warning" })
            </div>
        </div>
        <div>
            <div class="ekp-well-third">
                <label>Z zakresu umiejętności:</label>
            </div>

            <div class="rows addPekU">
                @foreach (var pekU in Model.PekiUList)
                {
                    Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowPekU, pekU);
                }
            </div>

            <div class="container-fluid" style="margin-bottom: 10px;">
                @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForPekU, "addPekU", new { @class = "btn btn-xs btn-warning" })
            </div>
        </div>
        <div>
            <div class="ekp-well-third">
                <label>Z zakresu kompetencji społecznych:</label>
            </div>

            <div class="rows addPekK">
                @foreach (var pekK in Model.PekiKList)
                {
                    Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowPekK, pekK);
                }
            </div>

            <div class="container-fluid" style="margin-bottom: 10px;">
                @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForPekK, "addPekK", new { @class = "btn btn-xs btn-warning" })
            </div>
        </div>
    </div>

        <!-- segment E -->
        <table class="ekp-well-second">
            <tr>
                <th style="padding-left: 20px;">
                    <h3>Treści programowe</h3>
                </th>
                <th class="col-md-offset-10 col-md-2 ekp-container-btn">
                    <span id="schowajE" class="btn btn-info glyphicon glyphicon-eye-close" title="@btnHide"></span>
                </th>
            </tr>
        </table>
        <div id="segmentE" class="form-horizontal">
            <div>
                <div class="ekp-well-third">
                    <label>Forma zajęć - wykład</label>
                </div>

                <div class="rows addTrescW">
                    @foreach (var trescW in Model.TresciWList)
                    {
                        Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowTrescW, trescW);
                    }
                </div>

                <div class="container-fluid" style="margin-bottom: 10px;">
                    @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForTrescW, "addTrescW", new { @class = "btn btn-xs btn-warning" })
                </div>
            </div>

            <div>
                <div class="ekp-well-third">
                    <label>Forma zajęć - ćwiczenia</label>
                </div>

                <div class="rows addTrescC">
                    @foreach (var trescC in Model.TresciCList)
                    {
                        Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowTrescC, trescC);
                    }
                </div>

                <div class="container-fluid" style="margin-bottom: 10px;">
                    @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForTrescC, "addTrescC", new { @class = "btn btn-xs btn-warning" })
                </div>
            </div>

            <div>
                <div class="ekp-well-third">
                    <label>Forma zajęć - laboratorium</label>
                </div>

                <div class="rows addTrescL">
                    @foreach (var trescL in Model.TresciLList)
                    {
                        Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowTrescL, trescL);
                    }
                </div>

                <div class="container-fluid" style="margin-bottom: 10px;">
                    @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForTrescL, "addTrescL", new { @class = "btn btn-xs btn-warning" })
                </div>
            </div>

            <div>
                <div class="ekp-well-third">
                    <label>Forma zajęć - projekt</label>
                </div>

                <div class="rows addTrescP">
                    @foreach (var trescP in Model.TresciPList)
                    {
                        Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowTrescP, trescP);
                    }
                </div>

                <div class="container-fluid" style="margin-bottom: 10px;">
                    @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForTrescP, "addTrescP", new { @class = "btn btn-xs btn-warning" })
                </div>
            </div>

            <div>
                <div class="ekp-well-third">
                    <label>Forma zajęć - seminarium</label>
                </div>

                <div class="rows addTrescS">
                    @foreach (var trescS in Model.TresciSList)
                    {
                        Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowTrescS, trescS);
                    }
                </div>

                <div class="container-fluid" style="margin-bottom: 10px;">
                    @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForTrescS, "addTrescS", new { @class = "btn btn-xs btn-warning" })
                </div>
            </div>
        </div>
        
        <!-- segment F -->
        <table class="ekp-well-second">
            <tr>
                <th style="padding-left: 20px;">
                    <h3>Stosowane narzędzia dydaktyczne</h3>
                </th>
                <th class="col-md-offset-10 col-md-2 ekp-container-btn">
                    <span id="schowajF" class="btn btn-info glyphicon glyphicon-eye-close" title="@btnHide"></span>
                </th>
            </tr>
        </table>
        <div id="segmentF" class="form-horizontal">
            <div class="rows addNarzedzieDydaktyczne">
                @foreach (var narzedzie in Model.NarzedziaDydaktyczneList)
                {
                    Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowNarzedzieDydaktyczne, narzedzie);
                }
            </div>

            <div class="container-fluid" style="margin-bottom: 10px;">
                @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForNarzedzieDydaktyczne, "addNarzedzieDydaktyczne", new { @class = "btn btn-xs btn-warning" })
            </div>
        </div>

        <!-- segment G -->
    <table class="ekp-well-second">
        <tr>
            <th style="padding-left: 20px;">
                <h3>Ocena osiągnięcia przedmiotowych efektów kształcenia</h3>
            </th>
            <th class="col-md-offset-10 col-md-2 ekp-container-btn">
                <span id="schowajG" class="btn btn-info glyphicon glyphicon-eye-close" title="@btnHide"></span>
            </th>
        </tr>
    </table>
    <div id="segmentG" class="form-horizontal">
        <div>
            @{ Html.RenderAction("_Create", "OcenyOsiagniec"); }
        </div>
    </div>

        <!-- segment H -->
        <table class="ekp-well-second">
            <tr>
                <th style="padding-left: 20px;">
                    <h3>Literatura podstawowa i uzupełniająca</h3>
                </th>
                <th class="col-md-offset-10 col-md-2 ekp-container-btn">
                    <span id="schowajH" class="btn btn-info glyphicon glyphicon-eye-close" title="@btnHide"></span>
                </th>
            </tr>
        </table>
        <div id="segmentH" class="form-horizontal">
            <div>
                <div class="ekp-well-third">
                    <label>Literatura podstawowa:</label>
                </div>

                <div class="rows addPodstawowa">
                    @foreach (var podstawowa in Model.LiteraturaPList)
                    {
                        Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowLiteraturaP, podstawowa);
                    }
                </div>

                <div class="container-fluid" style="margin-bottom: 10px;">
                    @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForLiteraturaP, "addPodstawowa", new { @class = "btn btn-xs btn-warning" })
                </div>
            </div>

            <div>
                <div class="ekp-well-third">
                    <label>Literatura uzupełniająca:</label>
                </div>
                <div class="rows addUzupelniajaca">
                    @foreach (var uzupelniajaca in Model.LiteraturaUList)
                    {
                        Html.RenderPartial(MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.Views._CreateRowLiteraturaU, uzupelniajaca);
                    }
                </div>

                <div class="container-fluid" style="margin-bottom: 10px;">
                    @Html.AddDynamicRowLink("Dodaj nową pozycję", MVC.ElektroniczneKartyPrzedmiotow.KartyPrzedmiotow.ActionNames.CreateRowForLiteraturaU, "addUzupelniajaca", new { @class = "btn btn-xs btn-warning" })
                </div>
            </div>
        </div>

        <!-- segment I -->
        <table class="ekp-well-second">
            <tr>
                <th style="padding-left: 20px;">
                    <h3>Opiekun przedmiotu</h3>
                </th>
                <th class="col-md-offset-10 col-md-2 ekp-container-btn">
                    <span id="schowajI" class="btn btn-info glyphicon glyphicon-eye-close" title="@btnHide"></span>
                </th>
            </tr>
        </table>
        <div id="segmentI" class="form-horizontal">
            
            <div class="form-group">
                @Html.LabelFor(model => model.OpiekunPrzedmiotu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @(Wspomaganie_dziekanatu.Helpers.User.ZalogowanaOsoba(User).Imie)
                    @(Wspomaganie_dziekanatu.Helpers.User.ZalogowanaOsoba(User).Nazwisko)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailOpiekuna, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @(User.Identity.Name)
                </div>
            </div>
        </div>
        
        <!-- segment J -->
        <table class="ekp-well-second">
            <tr>
                <th style="padding-left: 20px;">
                    <h3>Macierz powiązania efektów kształcenia</h3>
                </th>
                <th class="col-md-offset-10 col-md-2 ekp-container-btn">
                    <span id="schowajJ" class="btn btn-info glyphicon glyphicon-eye-close" title="@btnHide"></span>
                </th>
            </tr>
        </table>
        <div id="segmentJ" class="form-horizontal">
            <div>
                @{ Html.RenderAction("_Create", "Macierz"); }
            </div>
        </div>

        <div class="container-fluid" style="margin-bottom: 40px;">
            <button type="submit" class="btn btn-success col-md-2 ekp-space-after-btn" title="Utwórz kartę i prześlij do weryfikacji">
                <span>Utwórz kartę</span>
            </button>
            @Html.ActionLink("Anuluj", "Index", "Home", new { area = "" }, new { @class = "btn btn-danger col-md-2", @title = "Wróć do strony głównej" })
        </div>
        
    }<!-- end of using(Html.BeginForm()) -->

</div>

<script type="text/javascript">
    $("a.addRow").off().click(function () {
        var $selector = '.' + $(this).data("placeholder");
        var $prefix = $(this).data("prefix");

        var $element = $(this).parents("div.dynamicRow:first");
        if ($element.length === 0) {
            $element = $($selector);
        } else {
            $element = $($element).find($selector);
        }

        $.ajax({
            url: this.href,
            cache: false,
            type: "GET",
            dataType: "html",
            data: {
                prefix: $prefix
            }
        }).success(function (html) {
            $($element).append(html);
            $.removeData($("form")[0], "validator");
            $.validator.unobtrusive.parse(document);
        }).error(function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
        });

        return false;
    });

    $("div").on("click", "button.deleteRow", function (event) {
        $(this).parents("div.dynamicRow:first").remove();

        event.preventDefault();
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#schowajA").click(function () { $("#segmentA").slideToggle(); });
        $("#schowajB").click(function () { $("#segmentB").slideToggle(); });
        $("#schowajC").click(function () { $("#segmentC").slideToggle(); });
        $("#schowajD").click(function () { $("#segmentD").slideToggle(); });
        $("#schowajE").click(function () { $("#segmentE").slideToggle(); });
        $("#schowajF").click(function () { $("#segmentF").slideToggle(); });
        $("#schowajG").click(function () { $("#segmentG").slideToggle(); });
        $("#schowajH").click(function () { $("#segmentH").slideToggle(); });
        $("#schowajI").click(function () { $("#segmentI").slideToggle(); });
        $("#schowajJ").click(function () { $("#segmentJ").slideToggle(); });
    })
</script>

