﻿@model List<Wspomaganie_dziekanatu.Models.VM.GradesVM>

@using Wspomaganie_dziekanatu.Models
@{
    ViewBag.Title = "Dziennik kursu: " + ViewBag.CourseName + ", grupa: " + ViewBag.GroupName;
}

<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"><span class="sr-only">Strona główna</span></span></a>
        </li>
        <li><a href="/Grades">Dzienniki</a></li>
        @Html.Partial("_BreadcrumbsCoursesPart")
        @Html.Partial("_BreadcrumbsGroupsPart")
    </ul>
    <div class="btn-group breadcrumb" role="group" aria-label="Opcje">
        <button class="btn btn-success" onclick="submitForm('grades-form')"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Zapisz</button>
    </div>
    
    @Html.Partial("_LoginPartial")
</header>

<div id="body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Dziennik kursu: @ViewBag.CourseName, grupa: @ViewBag.GroupName</h4>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-filter"></span> Filtruj
                </span>
                <input type="text" class="form-control filter-input" data-table-id="grades-table" placeholder="Wpisz fragment tekstu..." />
            </div>
        </div>
        <div class="table-responsive">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "grades-form" }))
            {           
                <table class="table table-striped table-hover grades-table" id="grades-table">
                    <tr>
                        <th>Lp.</th>
                        <th>Nazwisko i Imię</th>
                        <th class="text-center">Nr indeksu</th>
                        @{
                            int i = 1;
                            foreach (var t in Model.FirstOrDefault().Terminy) { 
                                <th class="text-center">@t</th>
                            }
                        }
                        <th class="text-center">Ocena 1</th>
                        <th class="text-center">Ocena 2</th>
                    </tr>
                
                    @{
                        for (i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model[i].Student.Nazwisko @Model[i].Student.Imie</td>
                                <td class="text-right">
                                    @Model[i].Student.NrAlbumu
                                    @Html.Hidden("Model[" + i + "].Oceny.StudentId", Model[i].Student.StudentId)
                                    @Html.Hidden("Model[" + i + "].Oceny.GrupaId", Model[i].Zaliczenie.GrupaId)
                                </td>

                                @for (var j = 0; j < Model[i].Obecnosci.Count(); j++)
                                {
                                    <td class="text-center">
                                        <input type="checkbox" value="true" name="Model[@i].Obecnosci[@j].CzyObecny" id="Model_@(i)__Obecnosci_@(j)__CzyObecny" checked=@Model[@i].Obecnosci[@j].CzyObecny>
                                        <input type="hidden" value="false" name="Model[@i].Obecnosci[@j].CzyObecny">

                                        @*
                                            not working, but not sure why...
                                            @Html.CheckBox("Model[" + i + "].Obecnosci[" + j + "].CzyObecny", Model[i].Obecnosci[j].CzyObecny)
                                        *@

                                        @Html.Hidden("Model[" + i + "].Obecnosci[" + j + "].TerminZajecId", Model[i].Obecnosci[j].TerminZajecId)
                                    </td>
                                }
                                <td class="text-center">
                                    @Html.TextBox("Model[" + i + "].Oceny.Ocena1", Model[i].Zaliczenie.Ocena1, new { @class = "form-control" })
                                    @Html.ValidationMessage("Model_" + i + "__Zaliczenie_Ocena1")
                                </td>
                                <td class="text-center">
                                    @Html.TextBox("Model[" + i + "].Oceny.Ocena2", Model[i].Zaliczenie.Ocena2, new { @class = "form-control" })
                                    @Html.ValidationMessage("Model_" + i + "__Zaliczenie_Ocena2")
                                </td>
                            </tr>
                        }
                    }
                
                </table>
            }
        </div>
    </div>
</div>
