﻿@model List<Wspomaganie_dziekanatu.Models.VM.ListaGrupVM>

@{
    ViewBag.Title = "Oceny";
}

<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"><span class="sr-only">Strona główna</span></span></a>
        </li>
        <li>Dzienniki</li>
    </ul>
    @Html.Partial("_LoginPartial")
</header>

<div id="body">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Lista grup</h4>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-filter"></span> Filtruj
                </span>
                <input type="text" class="form-control table-list-filter-input" data-table-id="all-groups-table" placeholder="Wpisz fragment nazwy kursu..." />
            </div>
        </div>
        <table class="table table-hover groups-table" id="all-groups-table">
            <tr>
                <th>Dzień tyg.</th>
                <th>Godzina</th>
                <th>Kod grupy</th>
            </tr>
            @if (@Model.Count > 0)
            {
                String currentName = "";
                String currentType = "";
                foreach (var g in Model)
                {
                    if (currentName != g.NazwaKursu)
                    {
                        currentName = g.NazwaKursu;
                        currentType = "";
                        <tr data-href="/Grades/@g.IdKursu">
                            <td colspan="5" class="table-course-header list-group-item-info">
                                @g.NazwaKursu
                            </td>
                        </tr>
                    }

                    if (currentType != g.TypPrzedmiotu)
                    {
                        currentType = g.TypPrzedmiotu;
                        <tr>
                            <td colspan="5" class="table-course-type-header">@g.TypPrzedmiotu</td>
                        </tr>
                    }

                    <tr data-href="/Grades/@g.IdKursu/@g.IdGrupy">
                        <td>@g.DzienTygodnia</td>
                        <td>@g.Godzina</td>
                        <td>@g.KodGrupy</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="table-course-header list-group-item-info">Brak grup.</td>
                </tr>
            }
        </table>
    </div>
</div>
