﻿<li>
    <select class="selectpicker">
        @foreach (var group in ViewBag.Groups)
        {
            <option value="/@ViewContext.RouteData.Values["controller"]/@group.IdKursu/@group.IdGrupy" selected='@(ViewContext.RouteData.Values["groupId"].Equals(group.IdGrupy.ToString()))'>
                @group.TypPrzedmiotu, @group.DzienTygodnia, @group.Godzina
            </option>
        }
        <!--option value="/Grades/kursID/1">wykład; pn, 7:30 - 9:00</!--option>
        <option value="/Grades/kursID/2" selected>laboratorium; pn, 9:15 - 13:45</option>
        <option value="/Grades/kursID/3">laboratorium; śr, 9:15 - 13:45</option-->
    </select>
</li>

