﻿<li>
    <select class="selectpicker middle-select">
        @foreach (var course in ViewBag.Courses)
        {
            <option value="/@ViewContext.RouteData.Values["controller"]/@course.KartaPrzedmiotuId" selected='@(ViewContext.RouteData.Values["courseId"].Equals(course.KartaPrzedmiotuId.ToString()))'>
                @course.NazwaPl
            </option>
        }
    </select>
</li>
