﻿@using Wspomaganie_dziekanatu.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <aside id="nav-panel" class="with-activities-panel">
        <a href="/" id="logo">
            <img src="~/Content/logo.png" title="Wspomaganie dziekanatu" alt="Wspomaganie dziekanatu" />
        </a>
        @Html.Partial("_NavbarToggleButton")
        <nav class="navigation">
            <ul class="list-unstyled">
                <li>
                    <a href="/">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <span class="nav-label">Strona główna</span>
                    </a>
                </li>
                <!--li class="has-submenu">
                    <a href="#">
                        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                        <span class="nav-label">Oceny</span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="/Grades">Wszystkie</a></li>
                        <li><a href="/Grades/1">Kursy</a></li>
                        <li><a href="/Grades/1/1">Grupy</a></li>
                    </ul>
                </li-->
                <li>
                    <a href="/Grades">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        <span class="nav-label">Dzienniki</span>
                    </a>
                </li>
                <li class="has-submenu">
                    <a href="#">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        <span class="nav-label">Karty przedmiotów</span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "KartyPrzedmiotow", new {area = "ElektroniczneKartyPrzedmiotow"})">Przeglądanie kart</a></li>
                        @if (User.IsInRole("Dydaktyk"))
                        {
                            <li><a href="@Url.Action("Create", "KartyPrzedmiotow", new {area = "ElektroniczneKartyPrzedmiotow"})">Utwórz kartę</a></li>
                        }
                        @if (User.IsInRole("Sekretarz"))
                        {
                            <li><a href="@Url.Action("Index", "KartySekretarza", new {area = "ElektroniczneKartyPrzedmiotow"})">Karty do sprawdzenia</a></li>
                        }
                        @if (User.IsInRole("Przewodniczący komisji"))
                        {
                            <li><a href="@Url.Action("Index", "KartyPrzewodniczacego", new {area = "ElektroniczneKartyPrzedmiotow"})">Karty do zatwierdzenia</a></li>
                        }
                    </ul>
                </li>
                <li>
                    <a href="/Reports">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        <span class="nav-label">Raporty</span>
                    </a>
                </li>
                <li>
                    <a href="/Groups">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span class="nav-label">Grupy</span>
                    </a>
                </li>
                <!--li>
                    <a href="/Didactics">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        <span class="nav-label">Dydaktyka</span>
                    </a>
                </li-->
                <li>
                    <a href="/Activities">
                        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                        <span class="nav-label">Aktywności</span>
                    </a>
                </li>
                <li>
                    <a href="/Notifications">
                        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                        <span class="nav-label">Powiadomienia</span>
                    </a>
                </li>
                <!--li>
                    <a href="#">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        <span class="nav-label">Ustawienia</span>
                    </a>
                </li-->
            </ul>
        </nav>
    </aside>
    <div id="content" class="container-fluid">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year WIZ, PWr</p>
    </footer>
    <aside id="activities-panel">
        @Html.Partial("~/Views/Activities/_List.cshtml", @AktywnoscHelpers.getUserActivities(User, false))
    </aside>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    @Scripts.Render("~/bundles/jqueryhistory")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
