﻿@using Microsoft.AspNet.Identity
@using Wspomaganie_dziekanatu.Helpers
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a>Zalogowany, @(User.Identity.GetUserName())</a>
        </li>
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" id="notifications-dropdown-toggle" href="#" aria-expanded="true">
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                <span class="sr-only">Powiadomienia</span>
                @{
                    var notificationsNum = PowiadomienieHelpers.getUserNewNotificationsNumber(User);
                }
                <span class="badge" id="notifications-badge">@(notificationsNum != 0 ? notificationsNum.ToString() : "")</span>
            </a>
            <ul class="dropdown-menu dropdown-notification" id="notifications-list">
                <li class="dropdown-menu-header">Powiadomienia</li>
                @{
                    var notifications = PowiadomienieHelpers.getUserSimpleNotifications(User);
                    @Html.Partial("~/Views/Notifications/_Simple.cshtml", notifications)
                }
                <li class="view-all"><a href="/Notifications">Zobacz wszystkie <span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
        </li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
            }
            
            <a href="javascript:document.getElementById('logoutForm').submit()">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                <span class="sr-only">Wyloguj</span>
            </a>
        </li>
        <li>
            <button class="navbar-toggle" id="activities-panel-toggle" data-toggle="tooltip" data-placement="bottom" title="Przełącz panel powiadomień">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                <span class="sr-only">Przełącz panel powiadomień</span>
            </button>
        </li>
    </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <!--li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li-->
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
