﻿@model Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.MacierzVM

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
}

<table class="table" style="width: 100%;">
    <tr class="ekp-well-third">
        <th>Przedmiotowy efekt kształcenia</th>
        <th>Odniesienie przedmiotowego efektu do efektów kształcenia zdefiniowanych dla kierunku studiów i specjalności</th>
        <th>Cele przedmiotu</th>
        <th>Treści programowe</th>
        <th>Numer narzędzia dydaktycznego</th>
    </tr>
</table>
