﻿@model Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.MacierzVM
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Macierz powiązania efektów kształcenia";
}
<div class="ekp-well-second">
    <h3>@ViewBag.Title</h3>
    <div>
        <h4>
            <span>dla przedmiotu</span>
            <span>@Html.DisplayName(Model.NazwaPrzedmiotu)</span>
            <span>z efektami kształcenia </span>
            @if(!string.IsNullOrEmpty(Model.KierunekStudiow.Wartosc))
            {
                <span>na kierunku</span>
                <span>@Html.DisplayName(Model.KierunekStudiow.Wartosc)</span>
            }
            @if(!string.IsNullOrEmpty(Model.Specjalnosc))
            {
                <span>i specjalności</span>
                <span>@Html.DisplayName(Model.Specjalnosc)</span>
            }
        </h4>
    </div>
</div>

@if(Model.MPkeki.Count() > 1)
{
    <table class="table" style="width: 100%;">
        <tr class="ekp-well-third">
            <th>Przedmiotowy efekt kształcenia</th>
            <th>Odniesienie przedmiotowego efektu do efektów kształcenia zdefiniowanych dla kierunku studiów i specjalności</th>
            <th>Cele przedmiotu</th>
            <th>Treści programowe</th>
            <th>Numer narzędzia dydaktycznego</th>
        </tr>
        @{
            int n = 0;
            foreach (var item in Model.PEKi)
            {
                string result = "PEK_" + (Model.TypEfektu.Find(t => t.Id == item.TypEfektuId)).Kod;
                <tr>
                    <td style="text-align:center">
                        @if (Convert.ToInt32(item.NrPek) < 10)
                        {
                            result += "0";
                        }
                        @Html.Raw(result + item.NrPek)
                    </td>
                    <td style="text-align:center">
                        @foreach (var kek in Model.MPkeki[n])
                        {
                            @Html.Raw("K" + Model.StopienStudiow.Kod + Model.KierunekStudiow.Kod + "_" +
                                 Model.TypEfektu.Find(t => t.Id == kek.TypEfektuId).Kod)

                            if (Convert.ToInt32(kek.NrKek) < 10)
                            {
                                @Html.Raw("0")
                            }
                            @Html.Raw(kek.NrKek + " ")
                        }
                    </td>
                    <td style="text-align:center">
                        @foreach (var cel in Model.MPcele[n])
                        {
                            @Html.Raw("C" + cel.NrCelu + " ")
                        }
                    </td>
                    <td style="text-align:center">
                        @foreach (var tresc in Model.MPtresci[n])
                        {
                            @Html.Raw(Model.TypPrzedmiotu.Find(t => t.Id == tresc.TypPrzedmiotuId).Kod + tresc.NrTresci + " ")
                        }
                    </td>
                    <td style="text-align:center">
                        @foreach (var narzedzie in Model.MPnarzedzia[n])
                        {
                            @Html.Raw("N" + narzedzie.NrNarzedzia + " ")
                        }
                    </td>
                </tr>
                        n++;
            }
        }
    </table>
}
else
{
    <div style="text-align: center;">
        <h4 class="text-danger">brak danych</h4>
    </div>
}
