﻿@model IEnumerable<Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.TrescProgramowaVM>

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Treści programowe";
    int sumaGodzin = 0;
}

<div class="ekp-well-second">
    <h3>@ViewBag.Title</h3>
</div>

@if (Model.Count() > 1)
{
    if (Model.Where(m => m.TypPrzedmiotuId == 1).Count() > 1)
    {
        <table class="table" style="width: 100%;">

            <tr class="ekp-well-third" style="margin: 0px 10px;">
                <th class="col-md-1">
                    <label>Forma zajęć</label>
                </th>
                <th>
                    <label>WYKŁAD</label>
                </th>
                <th class="col-md-offset-9 col-md-2">
                    <label>Liczba godzin</label>
                </th>
            </tr>

            @{ sumaGodzin = 0; }
            @foreach (var item in Model.Where(m => m.TypPrzedmiotuId == 1))
            {
                <tr>
                    <td>
                        <label>@Html.DisplayFor(modelItem => item.Nr)</label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LiczbaGodzin)
                    </td>
                </tr>

                sumaGodzin += item.LiczbaGodzin;
            }

            <tr>
                <th></th>
                <th style="text-align: right;">
                    <label>Suma godzin:</label>
                </th>
                <th>
                    @Html.DisplayName(sumaGodzin.ToString())
                </th>
            </tr>
        </table>
    }
    if (Model.Where(m => m.TypPrzedmiotuId == 2).Count() > 1)
    {
        <table class="table" style="width: 100%;">

            <tr class="ekp-well-third" style="margin: 0px 10px;">
                <th class="col-md-1">
                    <label>Forma zajęć</label>
                </th>
                <th>
                    <label>ĆWICZENIA</label>
                </th>
                <th class="col-md-offset-9 col-md-2">
                    <label>Liczba godzin</label>
                </th>
            </tr>

            @{ sumaGodzin = 0; }
            @foreach (var item in Model.Where(m => m.TypPrzedmiotuId == 2))
            {
                <tr>
                    <td>
                        <label>@Html.DisplayFor(modelItem => item.Nr)</label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LiczbaGodzin)
                    </td>
                </tr>

                sumaGodzin += item.LiczbaGodzin;
            }

            <tr>
                <th></th>
                <th style="text-align: right;">
                    <label>Suma godzin:</label>
                </th>
                <th>
                    @Html.DisplayName(sumaGodzin.ToString())
                </th>
            </tr>
        </table>
    }
    if (Model.Where(m => m.TypPrzedmiotuId == 3).Count() > 1)
    {
        <table class="table" style="width: 100%;">

            <tr class="ekp-well-third" style="margin: 0px 10px;">
                <th class="col-md-1">
                    <label>Forma zajęć</label>
                </th>
                <th>
                    <label>LABORATORIUM</label>
                </th>
                <th class="col-md-offset-9 col-md-2">
                    <label>Liczba godzin</label>
                </th>
            </tr>

            @{ sumaGodzin = 0; }
            @foreach (var item in Model.Where(m => m.TypPrzedmiotuId == 3))
            {
                <tr>
                    <td>
                        <label>@Html.DisplayFor(modelItem => item.Nr)</label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LiczbaGodzin)
                    </td>
                </tr>

                sumaGodzin += item.LiczbaGodzin;
            }

            <tr>
                <th></th>
                <th style="text-align: right;">
                    <label>Suma godzin:</label>
                </th>
                <th>
                    @Html.DisplayName(sumaGodzin.ToString())
                </th>
            </tr>
        </table>
    }
    if (Model.Where(m => m.TypPrzedmiotuId == 4).Count() > 1)
    {
        <table class="table" style="width: 100%;">

            <tr class="ekp-well-third" style="margin: 0px 10px;">
                <th class="col-md-1">
                    <label>Forma zajęć</label>
                </th>
                <th>
                    <label>PROJEKT</label>
                </th>
                <th class="col-md-offset-9 col-md-2">
                    <label>Liczba godzin</label>
                </th>
            </tr>

            @{ sumaGodzin = 0; }
            @foreach (var item in Model.Where(m => m.TypPrzedmiotuId == 4))
            {
                <tr>
                    <td>
                        <label>@Html.DisplayFor(modelItem => item.Nr)</label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LiczbaGodzin)
                    </td>
                </tr>

                sumaGodzin += item.LiczbaGodzin;
            }

            <tr>
                <th></th>
                <th style="text-align: right;">
                    <label>Suma godzin:</label>
                </th>
                <th>
                    @Html.DisplayName(sumaGodzin.ToString())
                </th>
            </tr>
        </table>
    }
    if (Model.Where(m => m.TypPrzedmiotuId == 5).Count() > 1)
    {
        <table class="table" style="width: 100%;">

            <tr class="ekp-well-third" style="margin: 0px 10px;">
                <th class="col-md-1">
                    <label>Forma zajęć</label>
                </th>
                <th>
                    <label>SEMINARIUM</label>
                </th>
                <th class="col-md-offset-9 col-md-2">
                    <label>Liczba godzin</label>
                </th>
            </tr>

            @{ sumaGodzin = 0; }
            @foreach (var item in Model.Where(m => m.TypPrzedmiotuId == 5))
            {
                <tr>
                    <td>
                        <label>@Html.DisplayFor(modelItem => item.Nr)</label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LiczbaGodzin)
                    </td>
                </tr>

                sumaGodzin += item.LiczbaGodzin;
            }

            <tr>
                <th></th>
                <th style="text-align: right;">
                    <label>Suma godzin:</label>
                </th>
                <th>
                    @Html.DisplayName(sumaGodzin.ToString())
                </th>
            </tr>
        </table>
    }
}
else
{
    <div style="text-align: center;">
        <h4 class="text-danger">brak danych</h4>
    </div>
}
