﻿@model List<Wspomaganie_dziekanatu.Models.VM.AktywnoscVM>

<div class="list-group">
    <a href="/Activities" class="list-group-item">
        <strong class="list-group-item-heading">AKTYWNOŚCI</strong>
    </a>
    @if (@Model.Count > 0)
    {
        foreach (var a in Model)
        {
            <a href="@(a.URL)" class="list-group-item">
                @(a.Opis)
                <span>@(a.DataDzien), @(a.DataMiesiac), @(a.DataGodzina)</span>
            </a>
        }
    }
    else
    {
        <a class="list-group-item">Brak aktywności.</a>
    }
</div>
