﻿@model List<Wspomaganie_dziekanatu.Models.VM.AktywnoscVM>
@{
    ViewBag.Title = "Aktywności";
}

<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"><span class="sr-only">Strona główna</span></span></a>
        </li>
        <li>Aktywności</li>
    </ul>
    @Html.Partial("_LoginPartial")
</header>

<div id="body">
    <div class="panel panel-primary" id="all-activities-panel">
        <div class="panel-heading">
            <h4>AKTYWNOŚCI</h4>
        </div>
        <div class="list-group">
            @if (@Model.Count > 0)
            {
                String currentMonth = "";
                String currentYear = "";

                foreach (var a in Model)
                {
                    if (currentMonth != a.DataMiesiac)
                    {
                        currentMonth = a.DataMiesiac;
                        currentYear = a.DataRok;
                        <a class="list-group-item list-group-item-info">@(a.DataMiesiac) @(a.DataRok)</a>
                    }
                    <a href="@(a.URL)" class="list-group-item">
                        @(a.Opis)
                        <span>@(a.DataDzien), @(a.DataMiesiac), @(a.DataGodzina)</span>
                    </a>
                }
            }
            else
            {
                <a class="list-group-item">Brak aktywności.</a>
            }
            <!--li class="list-group-item list-group-item-info">maj 2015</li>
            <li class="list-group-item">
                Utworzyłeś raport SROP dla kursu <a href="#">Hurtownie danych</a>
                <span>24 maja, 22:00</span>
            </li>
            <li class="list-group-item">
                <a href="#">Janusz Kowalski</a> utworzył raport FRP dla kursu, którego jesteś właścicielem [<a href="#">Hurtownie danych</a>]
                <span>22 maja, 14:30</span>
            </li>
            <li class="list-group-item">
                Edytowałeś raport SROP dla kursu <a href="#">Interakcja człowiek-kompter</a>
                <span>22 maja, 14:00</span>
            </li>
            <li class="list-group-item">
                Edytowałeś listę obecności dla grupy <a href="#">Interakcja człowiek-kompter, pn, 7:30</a>
                <span>21 maja, 7:45</span>
            </li>
            <li class="list-group-item list-group-item-info">kwiecień 2015</li>
            <li class="list-group-item">
                Utworzyłeś nową kartę przedmiotu [<a href="#">Kurs testowy - bez nazwy</a>]
                <span>10 kwietnia, 17:25</span>
            </li-->
        </div>
    </div>
</div>
