﻿@model IEnumerable<Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.PekVM>

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Przedmiotowe efekty kształcenia";
}

<div class="ekp-well-second">
    <h3>@ViewBag.Title</h3>
</div>

@if (Model.Count() > 1)
{
    <div class="ekp-well-third">
        <label>Z zakresu wiedzy:</label>
    </div>
    <table class="table" style="width: 100%;">
        @foreach (var item in Model.Where(m => m.TypPekId == 1))
        {
            <tr>
                <td class="col-md-1">
                    <label>@Html.DisplayFor(modelItem => item.Nr)</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
            </tr>
        }
    </table>

    <div class="ekp-well-third">
        <label>Z zakresu umiejętności:</label>
    </div>
    <table class="table" style="width: 100%;">
        @foreach (var item in Model.Where(m => m.TypPekId == 2))
        {
            <tr>
                <td class="col-md-1">
                    <label>@Html.DisplayFor(modelItem => item.Nr)</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
            </tr>
        }
    </table>

    <div class="ekp-well-third">
        <label>Z zakresu kompetencji społecznych:</label>
    </div>
    <table class="table" style="width: 100%;">
        @foreach (var item in Model.Where(m => m.TypPekId == 3))
        {
            <tr>
                <td class="col-md-1">
                    <label>@Html.DisplayFor(modelItem => item.Nr)</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
            </tr>
        }
    </table>
}
else
{
    <div style="text-align: center;">
        <h4 class="text-danger">brak danych</h4>
    </div>
}
