﻿@model Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.OcenaOsiagniecVM
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
}

<div class="ekp-well-third">
    <label>Oceny:</label><br />
    <ul>
        <li>F - formująca (w trakcie semestru)</li>
        <li>P - podsumowująca (na koniec semestru)</li>
    </ul>
</div>

<table class="table" style="width: 100%;">
    <tr class="ekp-well-third">
        <th>Oceny</th>
        <th>Numer efektu kształcenia</th>
        <th>Sposób oceny osiągnięcia efektu kształcenia</th>
    </tr>
</table>
