﻿@model Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.OcenaOsiagniecVM
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Ocena osiągnięcia przedmiotowych efektów kształcenia";
}
<div class="ekp-well-second">
    <h3>@ViewBag.Title</h3>
    <div>
        <label>Oceny:</label><br />
        <p>F - formująca (w trakcie semestru)</p>
        <p>P - podsumowująca (na koniec semestru)</p>
    </div>
</div>

@if (Model.OcenyPEKF.Count() > 1 || Model.OcenyPEKP.Count() > 1)
{
    <table class="table" style="width: 100%;">
        <tr class="ekp-well-third">
            <th>Oceny</th>
            <th>Numer efektu kształcenia</th>
            <th>Sposób oceny osiągnięcia efektu kształcenia</th>
        </tr>
        @{
    for (int i = 0; i < Model.OcenyPEKF.Count(); i++)
    {
        <tr>
            <td>
                @if (Model.OcenyPEKF.Count() <= 1)
                {
                    <label>@Html.DisplayName("F")</label>
                }
                else
                {
                    <label>@Html.DisplayName("F" + Model.OcenyPEKF[i].NrOceny.ToString())</label>
                }
            </td>
            <td>
                @foreach (var pek in Model.PEKOcenyF[i])
                {
                    string result = "PEK_" + (Model.TypEfektu.Find(t => t.Id == pek.TypEfektuId)).Kod;

                    if (Convert.ToInt32(pek.NrPek) < 10)
                    {
                        result += "0";
                    }

                    result += pek.NrPek;

                    @Html.DisplayName(result + " ");
                }
            </td>
            <td>
                @Html.Raw(Model.OcenyPEKF[i].SposobOsiagnieciaEfektu)
            </td>
        </tr>
    }

    for (int i = 0; i < Model.OcenyPEKP.Count(); i++)
    {
        <tr>
            <td>
                @if (Model.OcenyPEKP.Count() <= 1)
                {
                    <label>@Html.DisplayName("P")</label>
                }
                else
                {
                    <label>@Html.DisplayName("P" + Model.OcenyPEKP[i].NrOceny.ToString())</label>
                }
            </td>
            <td>
                @foreach (var pek in Model.PEKOcenyP[i])
                {
                    string result = "PEK_" + (Model.TypEfektu.Find(t => t.Id == pek.TypEfektuId)).Kod;

                    if (Convert.ToInt32(pek.NrPek) < 10)
                    {
                        result += "0";
                    }

                    result += pek.NrPek;

                    @Html.DisplayName(result + " ");
                }
            </td>
            <td>
                @Html.Raw(Model.OcenyPEKP[i].SposobOsiagnieciaEfektu)
            </td>
        </tr>
    }
        }
    </table>
}
else
{
    <div style="text-align: center;">
        <h4 class="text-danger">brak danych</h4>
    </div>
}
