﻿@model IEnumerable<Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.CelPrzedmiotuVM>
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Cele przedmiotu";
}
<div class="ekp-well-second">
    <h3>@ViewBag.Title</h3>
</div>

@if (Model.Count() > 1)
{
    <table class="table" style="width: 100%;">
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-1">
                    <label>@Html.DisplayFor(modelItem => item.Numer)</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
            </tr>
        }
    </table>
}
else
{
    <div style="text-align: center;">
        <h4 class="text-danger">brak danych</h4>
    </div>
}

