﻿@using Wspomaganie_dziekanatu.Helpers.Enums
@using Wspomaganie_dziekanatu.Models.VM
@model Wspomaganie_dziekanatu.Models.VM.DashboardVM
@{
    ViewBag.Title = "Strona główna";
}
<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
            <span class="sr-only">Strona główna</span>
        </li>
    </ul>
    @Html.Partial("_LoginPartial")
</header>

<div id="body">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>DZISIEJSZE GRUPY</h4>
                </div>
                <div class="list-group">
                    @*@MVC.Grades.ViewGroup(Model.ListaGrup[0].IdGrupy) T4MVC sam generuje linki z czegoś takiego*@
                    @*@DzienTygodnia.GetString(Model.ListaGrup[0].DzienTygodnia) taka metoda zamienia enuma na dzień tygodnia*@
                    @if (@Model.Obecnosci.Count > 0)
                    {
                        foreach (var o in Model.Obecnosci)
                        {
                            <a class="list-group-item" href="/Grades/@o.IdKursu/@o.IdGrupy">@o.NazwaKursu; @o.TypKursu; @o.Godzina</a>
                        }
                    }
                    else
                    {
                        <a class="list-group-item" href="/Grades/">Brak dzisiejszych grup. Pokaż wszystkie.</a>
                        
                    }

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4>NAJBLIŻSZE RAPORTY</h4>
                </div>
                <div class="list-group">
                    @if (@Model.Raporty.Count > 0)
                    {
                        foreach (var r in Model.Raporty)
                        {
                            <a class="list-group-item" href="/Reports/@r.IdKursu">@r.NazwaKursu; @r.KodKursu</a>
                        }
                    }
                    else
                    {
                        <div class="list-group-item" href="/Grades/">Brak raportów.</div>

                    }
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4>PEŁNA LISTA GRUP</h4>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-filter"></span> Filtruj
                        </span>
                        <input type="text" class="form-control table-list-filter-input" data-table-id="all-groups-table" placeholder="Wpisz fragment nazwy kursu..." />
                    </div>
                </div>
                @Html.Partial("~/Views/Groups/TableList.cshtml")
            </div>
        </div>

    </div>
</div>