﻿@{
    ViewBag.Title = "Testowanie";
}

<header class="container-fluid">
    @Html.Partial("_NavbarToggleButton")
    <ul class="breadcrumb">
        <li>
            <a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"><span class="sr-only">Strona główna</span></span></a>
        </li>
        <li>Testowanie</li>
    </ul>
    @Html.Partial("_LoginPartial")
</header>


<script>
    var sendTestEmail = function () {
        var emailAddress = $('#email-test-input').val();      
        $.ajax({
            url: "/Test/Email/",
            type: "POST",
            data: "emailAddress=" + encodeURIComponent(emailAddress),
            success: function (result) {
                alert(result);
            },
            error: function () {
                alert("error");
            }
        });
    };

    var addTestNotification = function () {
        var txt = $('#notification-test-text').val();
        var data = {
            notification: {
                OdbiorcaId: @(Wspomaganie_dziekanatu.Helpers.User.ZalogowanyId(User)),
                NadawcaId: 3, //syatem
                URL: "/Grades",
                Tresc: txt
            }
        };

        $.ajax({
            url: "/Notifications/Add",
            type: "POST",
            data: $.param(data),
            success: function (result) {
                alert(result);
            },
            error: function () {
                alert("error");
            }
        });
    };
</script>

<div id="body">
    <div class="panel panel-primary" id="all-notifications-panel">
        <div class="panel-heading">
            <h4>TESTOWANIE</h4>
        </div>
        <ul class="list-group">
           <li class="list-group-item">
               <input type="email" id="email-test-input" />
               <button class="btn btn-success" onclick="sendTestEmail()">Wyślij email testowy</button>
           </li>
            <li class="list-group-item">
                <textarea id="notification-test-text">Przykładowa treść powiadomienia</textarea>
                <button class="btn btn-success" onclick="addTestNotification()">Dodaj testowe powiadomienie</button>
            </li>
            <li class="list-group-item">
                <a href="/Test/pdf" class="btn btn-success" target="_blank">PDF</a>
            </li>
        </ul>
    </div>
</div>
