﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    Hello, I'm PDF.
    <h2>Html List in PDF</h2>
    <table width="100%">
        <tr>
            <td>First Name</td>

            <td>Last Name</td>
        </tr>
    </table>
</body>
</html>

