﻿@model Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.TabelaPunktowGodzinVM

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
    
}
<table class="table" style="width: 100%;">
    <tr class="ekp-well-third">
        <th></th>
        <th>Wykład</th>
        <th>Ćwiczenia</th>
        <th>Laboratorium</th>
        <th>Projekt</th>
        <th>Seminarium</th>
    </tr>
    <tr>
        <td>
            <label>Liczba godzin zajęć zorganizowanych w Uczelni (ZZU):</label>
        </td>
        <td>@Html.EditorFor(model => model.GodzinyZZU, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.GodzinyZZU, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.GodzinyZZU, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.GodzinyZZU, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.GodzinyZZU, new { htmlAttributes = new { @class = "form-control" } })</td>
    </tr>
    <tr>
        <td>
            <label>Liczba godzin całkowitego nakładu pracy studenta (CNPS):</label>
        </td>
        <td>@Html.EditorFor(model => model.GodzinyCNPS, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.GodzinyCNPS, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.GodzinyCNPS, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.GodzinyCNPS, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.GodzinyCNPS, new { htmlAttributes = new { @class = "form-control" } })</td>
    </tr>
    <tr>
        <td>
            <label>Forma zaliczenia:</label>
        </td>
        <td>@Html.DropDownListFor(model => model.FormaZaliczenia, (IEnumerable<SelectListItem>)ViewBag.FormaZaliczenia, String.Empty, htmlAttributes: new { @class = "form-control" })</td>
        <td>@Html.DropDownListFor(model => model.FormaZaliczenia, (IEnumerable<SelectListItem>)ViewBag.FormaZaliczenia, String.Empty, htmlAttributes: new { @class = "form-control" })</td>
        <td>@Html.DropDownListFor(model => model.FormaZaliczenia, (IEnumerable<SelectListItem>)ViewBag.FormaZaliczenia, String.Empty, htmlAttributes: new { @class = "form-control" })</td>
        <td>@Html.DropDownListFor(model => model.FormaZaliczenia, (IEnumerable<SelectListItem>)ViewBag.FormaZaliczenia, String.Empty, htmlAttributes: new { @class = "form-control" })</td>
        <td>@Html.DropDownListFor(model => model.FormaZaliczenia, (IEnumerable<SelectListItem>)ViewBag.FormaZaliczenia, String.Empty, htmlAttributes: new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>
            <label>Dla grupy kursów zaznaczyć kurs końcowy:</label>
        </td>
        <td>@Html.RadioButtonFor(model => model.KursKoncowyWartosc, "")</td>
        <td>@Html.RadioButtonFor(model => model.KursKoncowyWartosc, "")</td>
        <td>@Html.RadioButtonFor(model => model.KursKoncowyWartosc, "")</td>
        <td>@Html.RadioButtonFor(model => model.KursKoncowyWartosc, "")</td>
        <td>@Html.RadioButtonFor(model => model.KursKoncowyWartosc, "")</td>
    </tr>
    <tr>
        <td>
            <label>Liczba punktów ECTS:</label>
        </td>
        <td>@Html.EditorFor(model => model.PunktyECTS, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.PunktyECTS, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.PunktyECTS, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.PunktyECTS, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.PunktyECTS, new { htmlAttributes = new { @class = "form-control" } })</td>
    </tr>
    <tr>
        <td>
            <label>w tym liczba punktów odpowiadająca zajęciom o charakterze praktycznymm (P):</label>
        </td>
        <td>@Html.EditorFor(model => model.PunktyP, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.PunktyP, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.PunktyP, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.PunktyP, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.PunktyP, new { htmlAttributes = new { @class = "form-control" } })</td>
    </tr>
    <tr>
        <td>
            <label>w tym liczba punktów ECTS odpowiadająca zajęciom wymagającym bezpośredniego kontaktu (BK):</label>
        </td>
        <td>@Html.EditorFor(model => model.PunktyBK, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.PunktyBK, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.PunktyBK, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.PunktyBK, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.EditorFor(model => model.PunktyBK, new { htmlAttributes = new { @class = "form-control" } })</td>
    </tr>
</table>
