﻿@model IEnumerable<Wspomaganie_dziekanatu.Areas.ElektroniczneKartyPrzedmiotow.Models.TabelaPunktowGodzinVM>

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_layout.cshtml";
}

<table class="table" style="width: 100%;">
    <tr class="ekp-well-third">
        <th></th>
        @foreach (var item in Model)
        {
            <th>
                @Html.DisplayFor(modelItem => item.TypPrzedmiotu)
            </th>
        }
    </tr>
    <tr>
        <td>
            <label>Liczba godzin zajęć zorganizowanych w Uczelni (ZZU):</label>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.GodzinyZZU)
            </td>
        }
    </tr>

    <tr>
        <td>
            <label>Liczba godzin całkowitego nakładu pracy studenta (CNPS):</label>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.GodzinyCNPS)
            </td>
        }
    </tr>
    <tr>
        <td>
            <label>Forma zaliczenia:</label>
        </td>
        @foreach (var item in Model)
        {
            <td>
                
            </td>
        }
    </tr>
    <tr>
        <td>
            <label>Kurs końcowy:</label>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.KursKoncowy)
            </td>
        }
    </tr>
    <tr>
        <td>
            <label>Liczba punktów ECTS:</label>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.PunktyECTS)
            </td>
        }
    </tr>
    <tr>
        <td>
            <label>w tym liczba punktów odpowiadająca zajęciom o charakterze praktycznymm (P):</label>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.PunktyP)
            </td>
        }
    </tr>
    <tr>
        <td>
            <label>w tym liczba punktów ECTS odpowiadająca zajęciom wymagającym bezpośredniego kontaktu (BK):</label>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.PunktyBK)
            </td>
        }
    </tr>
</table>

